<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>成型條件參數監控</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="static/js/layui/css/layui.css" media="all">
		<script src="static/js/vue.js"></script>
		<style>
			.category {
				/* background: yellow; */
				padding: 15px 15px;
			}
			.inline {
				width: 500px;
				/* border: 0.125rem solid black; */
				/* margin: 1px 1px; */
			}
			.inline div {
				display: inline-block;
				font-size: 1.2rem;
				text-align: center;
				vertical-align: middle;
			}
			.block {
				/* border: 0.125rem solid black; */
			}
			.block div{
				/* padding: 2px; */
			}
			.actual {
				background: skyblue;
			}
			.warning {
				background: pink;
			}
			input {
				background: lightgray;
				width: 100%;
				text-align: center;
			}
			table {
				border: 1px solid black;
				border-collapse: collapse;
				font-size: 1.2rem;
				/* background-color: ghostwhite; */
			}
			td {
				border: 2px solid black;
				padding: 2px;

			}
			.footer {
				position: fixed;
				left: 0;
				right: 0;
				bottom: 0;
				height: 44px;
				line-height: 44px;
				padding: 0 15px;
				background-color: white;
				z-index: 1000;
			}
		</style>
	</head>
	<body>
		<fieldset class="layui-elem-field layui-field-title">
			<legend style="font-weight:bold">
				<span style="font-size: 1.5rem">標準成型條件管控</span>
			</legend>
		</fieldset>
		<div class="layui-row">
			<form class="layui-form" action="" lay-filter='all'>
				<div class="layui-form-item">
					<label class="layui-form-label">棟別</label>
					<div class="layui-input-inline">
						<select name="building" id="building" lay-filter='select_building' lay-verify="required">
							<option value="A18">A18</option>
							<option value="A17">A17</option>
							<option value="A16">A16</option>
						</select>
					</div>
					<label class="layui-form-label">噸數</label>
					<div class="layui-input-inline">
						<select name="tonnage" id="tonnage" lay-filter='select_tonnage' lay-verify="required">
							<option value="">請選擇</option>
						</select>
					</div>
					<label class="layui-form-label">機台</label>
					<div class="layui-input-inline">
						<select name="machine" id="machine" lay-filter='select_machine' lay-verify="required">
							<option value="">請選擇</option>
						</select>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">料號</label>
					<div class="layui-input-inline">
						<input type="text" name="part_number" id="part_number" lay-verify="required" placeholder="料號" autocomplete="off"
						 class="layui-input" disabled>
					</div>
					<label class="layui-form-label">模穴號</label>
					<div class="layui-input-inline" id="mold_div">
						<input type="text" name="mold" id="mold" lay-verify="required" placeholder="模穴號" autocomplete="off" class="layui-input"
						 disabled>
					</div>
				</div>
			</form>
		</div>
		<div id="vm">
			
			<div class="layui-row" style="padding: 0px 30px;">
				<hr>
			</div>
			<div class="layui-row">
				<div v-if="1" class="layui-row" style="padding: 0px 30px 30px;">
					<table>
						<tr>
							<td>模號</td>
							<td>{[mold]}</td>
							<td>機型</td>
							<td>data</td>
							<td rowspan="2" colspan="2">{[time]}</td>
						</tr>
						<tr>
							<td>產品料號</td>
							<td>{[part_number]}</td>
							<td>出場編號</td>
							<td>data</td>
						</tr>
						<tr>
							<td>原料料號</td>
							<td>data</td>
							<td>原料規格</td>
							<td>data</td>
							<td>
								<div class="layui-row inline">
									<div class="layui-col-md2">
										實際值
									</div>
									<div class="layui-col-md10">
										<div class="layui-row" style="width: 100%;">
											<div class="layui-col-md3">
												上限
											</div>
											<div class="layui-col-md3">
												下限
											</div>
											<div class="layui-col-md3">
												標準值
											</div>
											<div class="layui-col-md3">
												公差
											</div>
										</div>
									</div>
								</div>
							</td>
						</tr>
						<tbody>
							<tr>
								<td rowspan="6">
									<p>加料溫度</p>
									<p>(感測器)</p>
								</td>
								<td colspan="3">噴嘴</td>
								<td>
									<vue-param :param="param.NowTn2" :manual=manual v-model.number="input_value.NowTn2.actual"></vue-param>
								</td>

							</tr>
							<tr>
								<td colspan="3">截流閥</td>
								<td>
									<!-- <vue-param :param="param.NowTn2" :manual=manual v-model.number="input_value.NowTn2.actual"></vue-param> -->
								</td>
							</tr>
							<tr>
								<td colspan="3">加熱一</td>
								<td>
									<vue-param :param="param.NowT1" :manual=manual v-model.number="input_value.NowT1.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">加熱二</td>
								<td>
									<vue-param :param="param.NowT2" :manual=manual v-model.number="input_value.NowT2.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">加熱三</td>
								<td>
									<vue-param :param="param.NowT3" :manual=manual v-model.number="input_value.NowT3.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">加熱四</td>
								<td>
									<vue-param :param="param.NowT4" :manual=manual v-model.number="input_value.NowT4.actual"></vue-param>
								</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td colspan="4">乾燥溫度</td>
								<td>
									<vue-param :param="param.DryTemp" :manual=manual v-model.number="input_value.DryTemp.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="4">乾燥時間</td>
								<td>
									<vue-param :param="param.DryTime" :manual=manual v-model.number="input_value.DryTime.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="4">露點</td>
								<td>
									<vue-param :param="param.DewPoint" :manual=manual v-model.number="input_value.DewPoint.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="4">油溫</td>
								<td>
									<vue-param :param="param.OilTemp" :manual=manual v-model.number="input_value.OilTemp.actual"></vue-param>
								</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td>公模</td>
								<td colspan="3">模溫機常溫水冷凍水</td>
								<td>
									<vue-param :param="param.MoTnMale" :manual=manual v-model.number="input_value.MoTnMale.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td>母模</td>
								<td colspan="3">模溫機常溫水冷凍水</td>
								<td>
									<vue-param :param="param.MoTnFemale" :manual=manual v-model.number="input_value.MoTnFemale.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td>滑塊</td>
								<td colspan="3">模溫機常溫水冷凍水</td>
								<td>
									<vue-param :param="param.MoSlider" :manual=manual v-model.number="input_value.MoSlider.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td>撥料板</td>
								<td colspan="3">模溫機常溫水冷凍水</td>
								<td>
									<vue-param :param="param.Plate" :manual=manual v-model.number="input_value.Plate.actual"></vue-param>
								</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td colspan="4">螺桿轉速</td>
								<td>
									<vue-param :param="param.ChrSpd3" :manual=manual v-model.number="input_value.ChrSpd3.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="4">背壓</td>
								<td>
									<vue-param :param="param.ChrPrs3" :manual=manual v-model.number="input_value.ChrPrs3.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="4">計量</td>
								<td>
									<vue-param :param="param.ChrPos4" :manual=manual v-model.number="input_value.ChrPos4.actual"></vue-param>
								</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td rowspan="7">射出位置mm</td>
								<td colspan="3">射一</td>
								<td>
									<vue-param :param="param.InjPos0" :manual=manual v-model.number="input_value.InjPos0.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">射二</td>
								<td>
									<vue-param :param="param.InjPos1" :manual=manual v-model.number="input_value.InjPos1.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">射三</td>
								<td>
									<vue-param :param="param.InjPos2" :manual=manual v-model.number="input_value.InjPos2.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">射四</td>
								<td>
									<vue-param :param="param.InjPos3" :manual=manual v-model.number="input_value.InjPos3.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">射五</td>
								<td>
									<vue-param :param="param.InjPos4" :manual=manual v-model.number="input_value.InjPos4.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">射六</td>
								<td>
									<!-- <vue-param :param="param.NowTn2" :manual=manual v-model.number="input_value.NowTn2.actual"></vue-param> -->
								</td>
							</tr>
							<tr>
								<td colspan="3">射膠終點</td>
								<td>
									<!-- <vue-param :param="param.NowTn2" :manual=manual v-model.number="input_value.NowTn2.actual"></vue-param> -->
								</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td rowspan="6">射出速度mm</td>
								<td colspan="3">V1</td>
								<td>
									<vue-param :param="param.InjSpd0" :manual=manual v-model.number="input_value.InjSpd0.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">V2</td>
								<td>
									<vue-param :param="param.InjSpd1" :manual=manual v-model.number="input_value.InjSpd1.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">V3</td>
								<td>
									<vue-param :param="param.InjSpd2" :manual=manual v-model.number="input_value.InjSpd2.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">V4</td>
								<td>
									<vue-param :param="param.InjSpd3" :manual=manual v-model.number="input_value.InjSpd3.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">V5</td>
								<td>
									<vue-param :param="param.InjSpd4" :manual=manual v-model.number="input_value.InjSpd4.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">V6</td>
								<td>
									<!-- <vue-param :param="param.NowTn2" :manual=manual v-model.number="input_value.NowTn2.actual"></vue-param> -->
								</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td rowspan="6">射壓</td>
								<td colspan="3">P1</td>
								<td>
									<vue-param :param="param.InjPrs0" :manual=manual v-model.number="input_value.InjPrs0.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">P2</td>
								<td>
									<vue-param :param="param.InjPrs1" :manual=manual v-model.number="input_value.InjPrs1.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">P3</td>
								<td>
									<vue-param :param="param.InjPrs2" :manual=manual v-model.number="input_value.InjPrs2.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">P4</td>
								<td>
									<vue-param :param="param.InjPrs3" :manual=manual v-model.number="input_value.InjPrs3.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">P5</td>
								<td>
									<vue-param :param="param.InjPrs4" :manual=manual v-model.number="input_value.InjPrs4.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">P6</td>
								<td>
									<!-- <vue-param :param="param.NowTn2" :manual=manual v-model.number="input_value.NowTn2.actual"></vue-param> -->
								</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td colspan="4">保壓切換位置mm</td>
								<td>
									<vue-param :param="param.InjPos4" :manual=manual v-model.number="input_value.InjPos4.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="4">保壓切換時間sec</td>
								<td>
									<!-- <vue-param :param="param.NowTn2" :manual=manual v-model.number="input_value.NowTn2.actual"></vue-param> -->
								</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td rowspan="4">保壓</td>
								<td colspan="3">P1</td>
								<td>
									<vue-param :param="param.HldPrs0" :manual=manual v-model.number="input_value.HldPrs0.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">P2</td>
								<td>
									<vue-param :param="param.HldPrs1" :manual=manual v-model.number="input_value.HldPrs1.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">P3</td>
								<td>
									<vue-param :param="param.HldPrs2" :manual=manual v-model.number="input_value.HldPrs2.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">P4</td>
								<td>
									<vue-param :param="param.HldPrs3" :manual=manual v-model.number="input_value.HldPrs3.actual"></vue-param>
								</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td colspan="4">S9</td>
								<td>
									<!-- <vue-param :param="param.NowTn2" :manual=manual v-model.number="input_value.NowTn2.actual"></vue-param> -->
								</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td rowspan="7">時間</td>
								<td colspan="3">保壓1</td>
								<td>
									<vue-param :param="param.HldTime0" :manual=manual v-model.number="input_value.HldTime0.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">保壓2</td>
								<td>
									<vue-param :param="param.HldTime1" :manual=manual v-model.number="input_value.HldTime1.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">保壓3</td>
								<td>
									<vue-param :param="param.HldTime2" :manual=manual v-model.number="input_value.HldTime2.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">保壓4</td>
								<td>
									<vue-param :param="param.HldTime3" :manual=manual v-model.number="input_value.HldTime3.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">射出</td>
								<td>
									<!-- <vue-param :param="param." :manual=manual v-model.number="input_value..actual"></vue-param> -->
								</td>
							</tr>
							<tr>
								<td colspan="3">冷卻</td>
								<td>
									<vue-param :param="param.TimeDchr" :manual=manual v-model.number="input_value.TimeDchr.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">週期</td>
								<td>
									<!-- <vue-param :param="param.BfCstTime" :manual=manual v-model.number="input_value.BfCstTime.actual"></vue-param> -->
								</td>
							</tr>
						</tbody>
						<tbody>
							<tr>
								<td rowspan="15">熱膠道溫度</td>
								<td colspan="3">T1</td>
								<td>
									<vue-param :param="param.HtRunT1" :manual=manual v-model.number="input_value.HtRunT1.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">T2</td>
								<td>
									<vue-param :param="param.HtRunT2" :manual=manual v-model.number="input_value.HtRunT2.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">T3</td>
								<td>
									<vue-param :param="param.HtRunT3" :manual=manual v-model.number="input_value.HtRunT3.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">T4</td>
								<td>
									<vue-param :param="param.HtRunT4" :manual=manual v-model.number="input_value.HtRunT4.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">T5</td>
								<td>
									<vue-param :param="param.HtRunT5" :manual=manual v-model.number="input_value.HtRunT5.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">T6</td>
								<td>
									<vue-param :param="param.HtRunT6" :manual=manual v-model.number="input_value.HtRunT6.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">T7</td>
								<td>
									<vue-param :param="param.HtRunT7" :manual=manual v-model.number="input_value.HtRunT7.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">T8</td>
								<td>
									<vue-param :param="param.HtRunT8" :manual=manual v-model.number="input_value.HtRunT8.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">T9</td>
								<td>
									<vue-param :param="param.HtRunT9" :manual=manual v-model.number="input_value.HtRunT9.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">T10</td>
								<td>
									<vue-param :param="param.HtRunT10" :manual=manual v-model.number="input_value.HtRunT10.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">T11</td>
								<td>
									<vue-param :param="param.HtRunT11" :manual=manual v-model.number="input_value.HtRunT11.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">T12</td>
								<td>
									<vue-param :param="param.HtRunT12" :manual=manual v-model.number="input_value.HtRunT12.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">T13</td>
								<td>
									<vue-param :param="param.HtRunT13" :manual=manual v-model.number="input_value.HtRunT13.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">T14</td>
								<td>
									<vue-param :param="param.HtRunT14" :manual=manual v-model.number="input_value.HtRunT14.actual"></vue-param>
								</td>
							</tr>
							<tr>
								<td colspan="3">T15</td>
								<td>
									<vue-param :param="param.HtRunT15" :manual=manual v-model.number="input_value.HtRunT15.actual"></vue-param>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>

		</div>
		<script src="static/js/layui/layui.all.js" charset="utf-8"></script>
		<script src="static/js/jquery-3.3.1.min.js" charset="utf-8"></script>
		<script src="static/js/tolerance.js" charset="utf-8"></script>
		<script src="static/js/moment.js" charset="utf-8"></script>
		<script type="text/javascript">
			$(function(){
				get_param()
			});

			{% if form_index %}
				var form_no = {{form_index}}
			{% endif %}
			{% if event_id %}
				var event_id = {{event_id}}
			{% endif %}
			console.log('form_no'+form_no)
			console.log('event_id'+event_id)

			var form = layui.form;
			var table = layui.table;
			var laydate = layui.laydate;
			var server_post = {'date': '2019-11-05', 'building': 'A18', 'tonnage': '450T'}
			var form_no
			// var server_post = {'date': moment().format('YYYY-MM-DD'), 'building': 'A18', 'tonnage': '450T'}

			Vue.component('vue-param', {
				template: '<div :class="{warning: warning}" class="inline layui-row">\
						<div class="block actual layui-col-md2">\
							<div class="manual" v-if="manual && !param.auto">\
								<input v-model.number="value1" type="number" @input="$emit(\'input\', $event.target.value)"></input>\
							</div>\
							<div class="actual" v-else>\
								{[param.actual]}\
							</div>\
						</div>\
						<div class="block standard layui-col-md10">\
							<div class="layui-row" style="width:100%;">\
								<div class="max layui-col-md3">\
									{[tol.max]}\
								</div>\
								<div class="min layui-col-md3">\
									{[tol.min]}\
								</div>\
								<div class="std layui-col-md3">\
									{[param.std]}\
								</div>\
								<div class="tol layui-col-md3">\
									{[tol.tol]}\
								</div>\
								<div v-if="0">\
									{[ChiName]}\
								</div>\
							</div>\
						</div>\
					</div>',
				props: ['param', 'manual', 'value'],
				delimiters: ['{[', ']}'],
				data: function() {
					return {
						value1: this.value,
						warning: false
					}
				},
				computed: {
					tol: function() {
						return tolerance[this.param.name](this.param.std)
					},
					ChiName: function() {
						return ParamChiName[this.param.name]
					}
				},
				mounted: function() {
					if (this.param.actual > this.tol.max) {
						this.warning = true
					} else if (this.param.actual < this.tol.min) {
						this.warning = true
					} else {
						this.warning = false
					}
				},
				beforeUpdate: function() {
					if (this.param.actual > this.tol.max) {
						this.warning = true

					} else if (this.param.actual < this.tol.min) {
						this.warning = true
					} else {
						this.warning = false
					}
				}
			})
			var vm = new Vue({
				delimiters: ['{[', ']}'],
				el: '#vm',
				data: {
					param: {},
					manual: false,
					mold: '',
					part_number: '',
					time: '',
					form_no: null,
				},
				computed: {
					input_value: function() {
						return this.param
					}
				},
				methods: {
					manual_f: function() {
						this.manual = true
					},
					save: function() {
						this.manual = false
						this.input_value['machine_id'] = server_post['machine_id']
						this.input_value['mold_id'] = server_post['mold_id']
						var vm1 = this
						$.ajax({
							url: '{{url_for('production.ajax_record_inj_param')}}',
							type: "POST",
							data: JSON.stringify(this.input_value),
							dataType: 'json',
							success: function(res) {
								console.log(res)
								form_no = res.form_no
								vm1.form_no = res.form_no
							},
						})
					},
					refresh: function() {
						this.form_no = null
						get_param()
					}
				}
			})
			
			var get_param = function() {
				console.log(server_post)
				$.ajax({
					url: '{{url_for('production.ajax_get_inj_param_record')}}',
					type: "POST",
					data: JSON.stringify({form_no: form_no}),
					dataType: 'json',
					success: function(res) {
						console.log(res)
						vm.param = res
						vm.mold = res['mold']
						vm.part_number = res['part_number']
						vm.time = res['TIMESTAMP']['actual']
						$("#tonnage").html('<option value=" ">'+res.tonnage+'</option>')
						$("#machine").html('<option value=" ">'+res.machine+'</option>')
						$("#part_number").val(res.part_number)
						$("#mold").val(res.mold)
						form.render(null, 'all');
					}
				})
			}

		</script>
	</body>
	<script>
		var table_name = 'inj_param_record'
		var table_chi_name = '成型條件紀錄表'
	</script>
		{% include 'main/signing/sign.html' %}
</html>
