<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>文件上傳</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="static/js/layui/css/layui.css" media="all">
		<script src="static/js/jquery-3.3.1.min.js"></script>
		<script src="static/js/xlsx.min.js"></script>
		
		<!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
	</head>
	<body>
		<div>
			<fieldset class="layui-elem-field layui-field-title">
				<legend style="font-weight:bold">
					<span style="font-size: 1.5rem;">資料庫上傳</span>
				</legend>
			</fieldset>
		</div>
		<div style="margin-left: 50px">
			<form class="layui-form" action="">
				<input type="file" class="form-control" id="file-value">
				<div class="layui-input-inline">
					<select name="upload_table" >
						<option value=""></option>
						<option value="Bom">Bom</option>
						<option value="MachineList">機台列表</option>
						<option value="MoldPnAssociation">模具料號對照表</option>
						<option value="Anomaly">異常列表</option>
					</select>
				</div>

				<button type="button" class="layui-btn layui-btn-radius" lay-submit lay-filter="formDemo" id="upload-btn">上傳</button>
			</form>
		</div>
		<hr class="layui-bg-green">

		<div style="margin-left: 50px">
			<table id="demo" lay-filter="demo" ></table>
		</div>
		<script src="static/js/layui/layui.all.js" charset="utf-8"></script>

		<script>
			var table = layui.table;
			var layer = layui.layer;
			var form = layui.form;

			//监听提交
			form.on('submit(formDemo)', function(f) {
				var form_data = f.field
				console.log(form_data)
				if (data.length) {
					layer.open({
						title: '上傳確認',
						content: '上傳資料:' + form_data['upload_table'],
						btn: ['確認上傳', '取消'],
						yes: function(index, layero) {
							if (form_data['upload_table']===''){
								layer.close(index);
								layer.msg('沒有選擇上傳表格');
							}else{
								var upload_data = {upload_table:form_data['upload_table'], data}
								console.log(upload_data)
								layer.close(index); //如果设定了yes回调，需进行手工关闭
								layer.open({
									title: '請等待',
									content: '請等待',
									area: '500px'
								})
								$.ajax({
									url: '/ajax_data_upload',
									type: "POST",
									data: JSON.stringify(upload_data),
									dataType: 'json',
									success: function(res) {
										console.log('上傳成功')
										console.log(res)
										layer.open({
											title: '上傳結束',
											content: res.log.join('\n'), 
											area: '500px'
										})

									},
									error: function(XMLHttpRequest, textStatus, errorThrown) {
										layer.open({
											title: '上傳失敗',
											content: XMLHttpRequest.responseJSON.msg,
											area: '500px'
										})

									}
								})
							}

							//按钮【按钮一】的回调
						},
						cancel: function() {
							//右上角关闭回调
						}
					})
				} else {
					layer.msg('沒有上傳數據');
				}

				return false;
			});

			var data = [];
			
			function handleFile(e) {
				var files = e.target.files,
					f = files[0];
				var reader = new FileReader();
				if (typeof FileReader == 'undefined') {
					layer.alert("你的浏览器暂不支持该功能", {
						title: "提示",
						skin: "layui-layer-molv"
					});
					file.setAttribute("disabled", "disabled");
					return;
				}
				reader.onload = function(e) {
					var data_read = new Uint8Array(e.target.result);
					var workbook = XLSX.read(data_read, {
						type: 'array'
					});
					console.log(XLSX.utils.sheet_to_json(workbook.Sheets[workbook.SheetNames[0]], {defval: ''}))
					var json = XLSX.utils.sheet_to_json(workbook.Sheets[workbook.SheetNames[0]], {defval: ''})
					var sheet = workbook.Sheets[workbook.SheetNames[0]]
					var range = XLSX.utils.decode_range(sheet['!ref'])
					var cols_array = [[]]
					for (var c=0; c<=range.e.c; c++){
						var field = sheet[XLSX.utils.encode_cell({r: 0, c: c})].v
						cols_array[0].push({field: field, title: json[0][field], minWidth:100})
					}
					data = json.slice(1)
					
					table.render({
						elem: '#demo', //指定原始表格元素选择器（推荐id选择器）
						data: data,
						width: '1000',
						height: 600, //容器高度
						page: true,
						limit: 13,
						cols: cols_array
					});
				};
				reader.readAsArrayBuffer(f)
			}
			var dom = document.getElementById('file-value')
			dom.addEventListener('change', handleFile, false)
		</script>

	</body>
</html>

