<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>機台警報</title>
		<link rel="stylesheet" href="static/js/layui/css/layui.css">
		<script type="text/javascript" src="static/js/jquery-3.3.1.min.js"></script>
		<link rel="stylesheet" href="static/js/jquery.mCustomScrollbar.css" />
		<script type="text/javascript" src="static/js/layui/layui.js"></script>
		<script type="text/javascript" src="static/js/jquery.mCustomScrollbar.concat.min.js"></script>
	</head>
	<body>
		<div>
			<fieldset class="layui-elem-field layui-field-title">
				<legend style="font-weight:bold">
					<span style="font-size: 1.5rem;">機台警報&emsp;&emsp;&emsp;&emsp;&emsp;</span>
					<span style="font-size: 0.8rem;">更新時間：</span>
					<span id="update_time" style="font-size: 0.8rem;"></span>
				</legend>
			</fieldset>
		</div>
		<div class="layui-row">
			<div class="layui-col-md3 layui-col-xs6">
				<fieldset class="layui-elem-field">
					<legend>
						<span style="font-weight:bold">B12</span>
						<span  id="B12_state"></span>
					</legend>

					<div class="layui-field-box">
						<div class="layui-row">
							<div class="layui-col-xs12 active">
								<div class="panel" id='B12' style="width: 100%; height: 180px"></div>
							</div>
						</div>
					</div>
				</fieldset>

			</div>
			<div class="layui-col-md3 layui-col-xs6">
				<fieldset class="layui-elem-field">
					<legend>
						<span style="font-weight:bold">B13</span>
						<span  id="B13_state"></span>
					</legend>

					<div class="layui-field-box">
						<div class="layui-row">
							<div class="layui-col-xs12 active">
								<div class="panel" id='B13' style="width: 100%; height: 180px"></div>
							</div>
						</div>
					</div>
				</fieldset>

			</div>
			<div class="layui-col-md3 layui-col-xs6">
				<fieldset class="layui-elem-field">
					<legend>
						<span style="font-weight:bold">B14</span>
						<span  id="B14_state"></span>
					</legend>

					<div class="layui-field-box">
						<div class="layui-row">
							<div class="layui-col-xs12 active">
								<div class="panel" id='B14' style="width: 100%; height: 180px"></div>
							</div>
						</div>
					</div>
				</fieldset>

			</div>
			<div class="layui-col-md3 layui-col-xs6">
				<fieldset class="layui-elem-field">
					<legend>
						<span style="font-weight:bold">B15</span>
						<span  id="B15_state"></span>
					</legend>

					<div class="layui-field-box">
						<div class="layui-row">
							<div class="layui-col-xs12 active">
								<div class="panel" id='B15' style="width: 100%; height: 180px"></div>
							</div>
						</div>
					</div>
				</fieldset>

			</div>
		</div>
		<div class="layui-row">
			<div class="layui-col-md3 layui-col-xs6">
				<fieldset class="layui-elem-field">
					<legend>
						<span style="font-weight:bold">B16</span>
						<span id="B16_state"></span>
					</legend>

					<div class="layui-field-box">
						<div class="layui-row">
							<div class="layui-col-xs12 active">
								<div class="panel" id='B16' style="width: 100%; height: 180px"></div>
							</div>
						</div>
					</div>
				</fieldset>

			</div>
			<div class="layui-col-md3 layui-col-xs6">
				<fieldset class="layui-elem-field">
					<legend>
						<span style="font-weight:bold">B17</span>
						<span  id="B17_state"></span>
					</legend>

					<div class="layui-field-box">
						<div class="layui-row">
							<div class="layui-col-xs12 active">
								<div class="panel" id='B17' style="width: 100%; height: 180px"></div>
							</div>
						</div>
					</div>
				</fieldset>

			</div>
			<div class="layui-col-md3 layui-col-xs6">
				<fieldset class="layui-elem-field">
					<legend>
						<span style="font-weight:bold">B18</span>
						<span  id="B18_state"></span>
					</legend>

					<div class="layui-field-box">
						<div class="layui-row">
							<div class="layui-col-xs12 active">
								<div class="panel" id='B18' style="width: 100%; height: 180px">

								</div>
							</div>
						</div>
					</div>
				</fieldset>

			</div>
			<div class="layui-col-md3 layui-col-xs6">
				<fieldset class="layui-elem-field">
					<legend>
						<span style="font-weight:bold">B19</span>
						<span  id="B19_state"></span>
					</legend>

					<div class="layui-field-box">
						<div class="layui-row">
							<div class="layui-col-xs12 active">
								<div class="panel" id='B19' style="width: 100%; height: 180px"></div>
							</div>
						</div>
					</div>
				</fieldset>

			</div>
		</div>


		<script>
			// 加載插件使用(function($) {})(jQuery);
			// div使用滾動條
			(function($) {
				$(window).on("load", function() {
					$.mCustomScrollbar.defaults.scrollButtons.enable = true; //enable scrolling buttons by default
					$(".active .panel").mCustomScrollbar({
						setHeight: 220,
						theme: "dark-3"
					});
				});
			})(jQuery);

			// DOM加載完成後執行下面函數,一般用於操作DOM
			$(document).ready(function() {
				get_alm(0)
				setInterval(get_alm, 30000)

				var state_div = function(data) {
					switch (data){
						case 0: $(divid).html('<span class="layui-badge layui-bg-gray">離線</span>');break;
						case 1: $(divid).html('<span class="layui-badge layui-bg-cyan">待機</span>');break;
						case 2: $(divid).html('<span class="layui-badge layui-bg-green">生產</span>');break;
						case 3: $(divid).html('<span class="layui-badge layui-bg-red">警報</span>');break;
					}
				}
				function get_alm(color) {
					$.ajax({
						url: '{{url_for('production.ajax_alm')}}',
						type: "POST",
						data: {
							'time': $('#update_time').html()
						},
						dataType: 'json',
						success: function(res) {
							console.log('success')
							console.log(res)
							alm = res.alm
							state = res.state
							update_time = res.update_time
							$('#update_time').html(update_time)
							for (var i=0; i<state.length; i++){
								switch (state[i].MachineId) {
									case 1: divid = '#B12_state';state_div(state[i].MachStateId);break;
									case 2: divid = '#B13_state';state_div(state[i].MachStateId);break;
									case 3: divid = '#B14_state';state_div(state[i].MachStateId);break;
									case 4: divid = '#B15_state';state_div(state[i].MachStateId);break;
									case 5: divid = '#B16_state';state_div(state[i].MachStateId);break;
									case 6: divid = '#B17_state';state_div(state[i].MachStateId);break;
									case 7: divid = '#B18_state';state_div(state[i].MachStateId);break;
									case 8: divid = '#B19_state';state_div(state[i].MachStateId);break;
								}
							}
							
							for (var i = 0; i < alm.length; i++) {
								switch (alm[i].MachineId) {
									case 1:
										divid1 = '#mCSB_1_container';
										break;
									case 2:
										divid1 = '#mCSB_2_container';
										break;
									case 3:
										divid1 = '#mCSB_3_container';
										break;
									case 4:
										divid1 = '#mCSB_4_container';
										break;
									case 5:
										divid1 = '#mCSB_5_container';
										break;
									case 6:
										divid1 = '#mCSB_6_container';
										break;
									case 7:
										divid1 = '#mCSB_7_container';
										break;
									case 8:
										divid1 = '#mCSB_8_container';
										break;
								}
								// <div class="panel" id='B19' style="width: 100%; height: 180px"></div>
								if (color == 0) {
									var div = '<div style="margin:2px;" class="layui-bg-gray add">' + alm[i].AlmTime + '<br>' + alm[i].AlmMsg +
										'</div>'
								} else {
									var div = '<div style="margin:2px;" class="layui-bg-red add">' + alm[i].AlmTime + '<br>' + alm[i].AlmMsg +
										'</div>'
								}
								$(divid1).prepend(div)
							}

						}
					})
				}



			})
		</script>
	</body>
</html>
