<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>不良統計</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="static/js/layui/css/layui.css" media="all">
		<script src="static/js/vue.js"></script>
		<script src="static/js/echarts.min.js"></script>
		<style>
			.bad_c1 {
				text-align: center;
				/* vertical-align: middle; */
				padding: 5px;
				height: 100px;
			}
			.bad_c1>div {
				border-collapse: collapse;
				border: 1px solid;
				vertical-align: text-bottom;
				height: 50%;
			}
		
			
			.simple {
					width: 90%;
					border-collapse: collapse;
					text-align: center;
					/* font-weight: bold; */
					font-size: 14px ;
				}
			.simple th{
				font-weight:bold;
				padding: 3px 0px;
			}
			.simple tr{
				/* border-top: 1.5px solid dimgrey; */
				border-bottom: 1.5px solid dimgray;
			}
			.simple td:nth-child(1){
				width: 10%;
				padding: 3px 0px;
			}
			.simple td:nth-child(2){
				width: 30%;
				padding: 3px 0px;
			}
			.simple td:nth-child(3){
				width: 15%;
				padding: 3px 0px;
				/* font-weight: bold; */
			}
			.simple td:nth-child(4){
				width: 10%;
				padding: 3px 0px;
				/* font-weight: bold; */
			}
			.simple td:nth-child(5){
				width: 5%;
				padding: 3px 0px;
				font-weight: bold;
			}
			#table_1 td:nth-child(1){
				width: 10%;
				padding: 3px 0px;
				font-weight: bold;
			}
			/* .layui-form-item .layui-form-checkbox{
				margin-top: 0px;
			} */
			.layui-form-checkbox[lay-skin=primary]{
				padding-left: 0px;
			}
			.layui-form-label{
				width: 50px
			}
			/* .layui-form-item .layui-form-checkbox[lay-skin=primary]{
				margin-top: 0px;
				margin-right: 10px;
			} */
			
		</style>
	</head>
	<body>
		<div>
			<fieldset class="layui-elem-field layui-field-title">
				<legend style="font-weight:bold">
					<span style="font-size: 1.5rem;">不良統計</span>
				</legend>
			</fieldset>
			<div class="layui-row" style="padding: 0px 30px;">

				<form class="layui-form" action="" lay-filter='all'>
					<div class="layui-form-item">
						<label class="layui-form-label" style="width: 78px;">
							產品
						</label>

						<div class="layui-input-inline">
							<select name="product" id="product" lay-verify="required" lay-filter='select_product'>
								<option value="">請選擇</option>
								// js 新增選項
							</select>
						</div>
						<label class="layui-form-label" style="width: 78px;">品名</label>
						<div class="layui-input-inline">
							<select name="inj_product_name" id="inj_product_name" lay-filter='select_inj_name' lay-verify="required">
								<option value=""></option>
							</select>
						</div>

						<label class="layui-form-label">日期</label>
						<div class="layui-input-inline">
							<input type="text" name="date" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-input-inline" style="width: auto;">
							<input type="checkbox" name="machine_bool" value="machine_bool" lay-skin="primary" lay-filter="*">
						</div>
						<label class="layui-form-label">機台</label>
						<div class="layui-input-inline">
							<select name="machine" id="machine" lay-filter='select_machine' lay-verify="required" disabled="">
								<option value=""></option>
							</select>
						</div>
						<div class="layui-input-inline" style="width: auto;">
							<input type="checkbox" name="mold_bool" value="mold_bool" lay-skin="primary" lay-filter="*">
						</div>
						<label class="layui-form-label">模具號</label>
						<div class="layui-input-inline">
							<select name="mold" id="mold" lay-filter='select_mold' lay-verify="required">
								<option value=""></option>

							</select>
						</div>
					</div>

				</form>
			</div>



			<!-- <div class="hide"> -->
			<div id="statistic_div" style="padding: 0px 30px;">
				<hr class=" layui-bg-green">

				<div id="chart">
					<vue-table v-for="table in tables" :table="table"></vue-table>
				</div>
			</div>
			<!-- </div> -->
		</div>
		<script src="static/js/layui/layui.all.js" charset="utf-8"></script>
		<script src="static/js/jquery-3.3.1.min.js" charset="utf-8"></script>
		<script src="static/js/moment.js" charset="utf-8"></script>
		<script type="text/javascript">
			var form = layui.form;
			var table = layui.table;
			var laydate = layui.laydate;
			var query_post = {}
			laydate.render({
				elem: '#date',
				type: 'date',
				range: true,
				done: function(value, date, endDate) {
					console.log(value); //得到日期生成的值，如：2017-08-18
					console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
					console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
					query_post['time_range'] = value
					get_query(query_post)
				}
			});
			// 預設前一日報表
			$('#date').attr('placeholder', moment().add(0, 'days').format('YYYY-MM-DD'))
			// 監聽勾選項目,傳送是否依機台或模具統計
			var query_bool = {
				machine_bool: 0,
				mold_bool: 0
			}
			query_post['query_bool'] = query_bool
			form.on('checkbox(*)', function(data) {
				// console.log(data.elem.title); //得到checkbox原始DOM对象
				// console.log(data.elem.checked); //是否被选中，true或者false
				// console.log(data.value); //复选框value值，也可以通过data.elem.value得到
				query_bool[data.value] = data.elem.checked
				console.log(query_bool)
				query_post['query_bool'] = query_bool
				get_query(query_post)
			})
			// 獲取產品列表
			$.ajax({
				url: '{{url_for('schedule.ajax_product_list')}}',
				type: "GET",
				dataType: 'json',
				success: function(res) {
					console.log('獲取產品列表')
					var html = '';
					for (var key in res) {
						html = html + '<optgroup label="' + key + '">'
						for (var i = 0; i < res[key].length; i++) {
							html = html + '<option value="' + res[key][i] + '">' + res[key][i] + '</option>'
						}
						html = html + '</optgroup>'
					}
					$('#product').append(html)
					form.render(null, 'all'); //更新 lay-filter="all" 所在容器内的全部表单状态
				}
			})
			// 監聽產品選單
			var part_number
			form.on('select(select_product)', function(data) {
				console.log(data.elem); //得到select原始DOM对象
				console.log(data.value); //得到被选中的值
				console.log(data.othis); //得到美化后的DOM对象
				query_post['product_name'] = data.value
				get_query(query_post)
				// 發出ajax取得產品Bom
				$.ajax({
					url: '{{url_for('schedule.ajax_bom_list')}}',
					type: "POST",
					data: JSON.stringify({
						'product_name': data.value
					}),
					dataType: 'json',
					success: function(res) {
						console.log('獲取BOM列表')
						console.log(res)
						console.log(JSON.stringify(res) != '{}')
						if (JSON.stringify(res) != '{}'){
							part_number = res
							// 更新成型品名稱選單
							var html = '';
							for (var key in res) {
								html = html + '<option value="' + key + '">' + key + '</option>'
							}
							$("#inj_product_name").html('<option value=""></option>')
							$("#inj_product_name").append(html)
							form.render(null, 'all'); //更新 lay-filter="all" 所在容器内的全部表单状态
						}else{
						}
						
					}
				})
			});

			// 監聽成型品名稱選單
			form.on('select(select_inj_name)', function(data) {
				console.log(data.elem); //得到select原始DOM对象
				console.log(data.value); //得到被选中的值
				console.log(data.othis); //得到美化后的DOM对象
				query_post['inj_product_name'] = data.value
				get_query(query_post)
				
				$.ajax({
					url: '{{url_for('schedule.ajax_mold_list')}}',
					type: "POST",
					data: JSON.stringify({
						'part_number': part_number[data.value]
					}),
					dataType: 'json',
					success: function(res) {
						console.log('獲取模具品列表')
						console.log(res)
						var html = '';
						for (var key in res) {
							html = html + '<option value="' + res[key] + '">' + key + ' ' + res[key] + '</option>'
						}
						$('#mold').html('<option value=""></option>')
						$('#mold').append(html)
						form.render(null, 'all'); //更新 lay-filter="all" 所在容器内的全部表单状态

						form.on('select(select_mold)', function(data) {
							console.log(data.elem); //得到select原始DOM对象
							console.log(data.value); //得到被选中的值
							console.log(data.othis); //得到美化后的DOM对象
							query_post['mold'] = data.value
							get_query(query_post)
						})
					}
				})
				// 取得機台 todo
				$.ajax({
					url: '{{url_for('schedule.ajax_machine_list')}}',
					type: "POST",
					data: JSON.stringify({
						'part_number': part_number[data.value]
					}),
					dataType: 'json',
					success: function(res) {
						console.log('獲取機台列表')
						// console.log(res)
						var html = '';
						for (var key in res) {
							html = html + '<optgroup label="' + key + '">'
							for (var i = 0; i < res[key].length; i++) {
								html = html + '<option value="' + res[key][i] + '">' + res[key][i] + '</option>'
							}
							html = html + '</optgroup>'
						}
						$('#machine').html('<option value="">請選擇</option>')
						$('#machine').append(html)
						form.render(null, 'all_1'); //更新 lay-filter="all" 所在容器内的全部表单状态

						form.on('select(select_machine)', function(data) {
							console.log(data.elem); //得到select原始DOM对象
							console.log(data.value); //得到被选中的值
							console.log(data.othis); //得到美化后的DOM对象
							query_post['machine'] = data.value
							get_query(query_post)
						})
					}
				})
			})

			var get_query = function(query_post) {
				var index = layer.load(0, {
					shade: [0.9, 'white']
				})
				$.ajax({
					url: '{{url_for('production.ajax_bad_query')}}',
					type: 'POST',
					data: JSON.stringify(query_post),
					dataType: 'json',
					success: function(res) {
						console.log('獲取不良統計')
						console.log(res)
						c.tables = res
						layer.close(index)
					}
				})
			}
			Vue.component('vue-table', {
				template: '<div class="layui-col-md4 layui-col-xs6" style="padding: 3px;">\
						<div class="layui-row">\
							<div class="layui-col-md6">\
								<table id="table_1" class="simple">\
									<thead>\
										<th colspan="3">{[table.product_name]}-{[table.inj_product_name]}</th>\
									</thead>\
									<thead>\
										<th colspan="3">{[table.machine]}-{[table.mold]}</th>\
									</thead>\
									<tr>\
										<td>產量</td>\
										<td>{[table.total_amount]}</td>\
									</tr>\
									<tr>\
										<td>不良數</td>\
										<td>{[table.total_bad]} ->{[ppm]}ppm</td>\
									</tr>\
									<tr>\
										<td>損失工時(min)</td>\
										<td>{[table.total_lost_time]}</td>\
									</tr>\
								</table>\
							</div>\
							<div class="layui-col-md4">\
								<div class="layui-row">\
									<div :id="id1" class="layui-col-md12" style="height:100px;">\
										圓餅圖{[table.key]}{[id1]}\
									</div>\
									<div :id="id2" class="layui-col-md12" style="height:100px;">\
										圓餅圖{[table.key]}{[id2]}\
									</div>\
								</div>\
							</div>\
						</div>\
						<hr class="layui-bg-black">\
					</div>',
				props: ['table'],
				computed: {
					ppm: function() {
						if (this.table.total_amount != 0) {
							return (1000000 * this.table.total_bad / this.table.total_amount).toFixed(0)
						} else {
							return ''
						}
					},
					id1: function() {
						return 'chart1_' + this.table.key
					},
					id2: function() {
						return 'chart2_' + this.table.key
					},
					option1: function() {
						return {
							title: {
								text: '不良分布',
								textStyle:{
									fontSize: 14,
								}
							},
							tooltip: {
								trigger: 'item',
								formatter: "{a} <br/>{b} : {c} ({d}%)"
							},
							grid: {
								top: 0,
								right: 1000
							},
							color: [
								'#C1232B', '#27727B', '#FCCE10', '#E87C25', '#B5C334',
								'#FE8463', '#9BCA63', '#FAD860', '#F3A43B', '#60C0DD',
								'#D7504B', '#C6E579', '#F4E001', '#F0805A', '#26C0C0'
							],
							series: [{
								name: '不良項目',
								type: 'pie',
								center: ['50%', '60%'],
								radius: ['50%', '80%'],
								hoverOffset: 2,
								avoidLabelOverlap: false,
								label: {
									normal: {
										show: false,
										position: 'center',
									},
									emphasis: {
										show: true,

									},
									fontWeight: 'lighter',
								},
								labelLine: {
									normal: {
										show: false
									}
								},
								data: this.table.bad_statistic,
								itemStyle: {
									emphasis: {
										shadowBlur: 10,
										shadowOffsetX: 0,
										shadowColor: 'rgba(0, 0, 0, 0.5)'
									}
								}
							}]
						}
					},
					option2: function() {
						return {
							title: {
								text: '異常分布',
								textStyle:{
									fontSize: 14,
								}
							},
							tooltip: {
								trigger: 'item',
								formatter: "{a} <br/>{b} : {c} ({d}%)"
							},
							grid: {
								top: 0,
								right: 1000
							},
							series: [{
								name: '異常項目',
								type: 'pie',
								center: ['50%', '60%'],
								radius: ['50%', '80%'],
								hoverOffset: 2,
								avoidLabelOverlap: false,
								label: {
									normal: {
										show: false,
										position: 'center',
									},
									emphasis: {
										show: true,

									},
									fontWeight: 'lighter',
								},
								labelLine: {
									normal: {
										show: false
									}
								},
								data: this.table.anomaly_statistic,
								itemStyle: {
									emphasis: {
										shadowBlur: 10,
										shadowOffsetX: 0,
										shadowColor: 'rgba(0, 0, 0, 0.5)'
									}
								}
							}]
						}
					}

				},
				delimiters: ['{[', ']}'],
				mounted: function() {
					this.$nextTick(function() {
						var myChart1 = echarts.init(document.getElementById(this.id1));
						var myChart2 = echarts.init(document.getElementById(this.id2));
						myChart1.setOption(this.option1);
						myChart2.setOption(this.option2);
						$(window).resize(function() {
							myChart1.resize()
							myChart2.resize()
						})

					})
				},
				updated: function() {
					this.$nextTick(function() {
						var myChart1 = echarts.init(document.getElementById(this.id1));
						var myChart2 = echarts.init(document.getElementById(this.id2));
						myChart1.setOption(this.option1);
						myChart2.setOption(this.option2);
						$(window).resize(function() {
							myChart1.resize()
							myChart2.resize()
						})
					})
				}


			})

			var c = new Vue({
				delimiters: ['{[', ']}'],
				el: '#chart',
				data: {
					tables: ''
				},
			})
		</script>
	</body>
</html>
