<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="static/js/jquery-3.3.1.min.js"></script>
		<script src="static/js/bootstrap-table.min.js"></script>
		<script src="static/js/bootstrap.min.js"></script>
		<link href="static/css/bootstrap-table.min.css" rel="stylesheet">
		<link href="static/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="static/js/layui/css/layui.css" media="all">
	</head>
	<body>
		<fieldset class="layui-elem-field layui-field-title">
			<legend style="font-weight:bold">
				<span style="font-size: 1.5rem;">不良對策查詢</span>
			</legend>
		</fieldset>
		<form id="first_part_init" onsubmit="return false;" onkeydown="if(event.keyCode==13) return false;" style="padding: 0px 30px;" >
			<!-- <div class="row">
				<div class="form-group col-sm-3">
					<label for="date">日期</label>
					<input id="date" name="date" class="form-control" value="" readonly="" />
				</div>
			</div> -->
			<div class="row">
				<div class="form-group col-sm-3">
					<label for="product">產品</label>
					<select class="form-control" name="product" id="product" required></select>
				</div>
				<div class="form-group col-sm-3">
					<label for="part_number">料號</label>
					<select class="form-control" name="part_number" id="part_number" required></select>
				</div>
			</div>
			<div class="form-group row">
				<div class="form-group col-sm-3">
					<label for="bad">不良種類</label>
					<select class="form-control" name="bad" id="bad" required>
						
					</select>
				</div>
			</div>

		</form>
		<div id="" style="padding: 0px 30px;">
			<table id="bad_cause"></table>
		</div>
		<script>
			
			var bad_cause = $("#bad_cause")
			bad_cause.bootstrapTable({
				columns: bad_cause_columns()
			})
			var query_post = {}
			$.ajax({
				url: '/ajax_product_list',
				type: "GET",
				dataType: 'json',
				success: function(res) {
					console.log('獲取產品列表')
					var html = '';
					for (var key in res) {
						html = html + '<optgroup label="' + key + '">'
						for (var i = 0; i < res[key].length; i++) {
							html = html + '<option value="' + res[key][i] + '">' + res[key][i] + '</option>'
						}
						html = html + '</optgroup>'
					}
					$('#product').append('<option>請選擇</option>')
					$('#product').append(html)
					$("#product").on('change', function(event) {
						console.log(event.target.value)
						$.ajax({
							url: '/ajax_bom_list',
							type: "POST",
							data: JSON.stringify({
								'product_name': event.target.value
							}),
							dataType: 'json',
							success: function(res) {
								console.log('獲取BOM列表')
								console.log(res)
								part_nuber = res
								// 更新成型品名稱選單
								var html = '';
								for (var key in res) {
									html = html + '<option value="' + res[key] + '">' + key+" "+res[key] + '</option>'
								}
								$("#part_number").html('<option value="">請選擇</option>')
								$("#part_number").append(html)
								$("#part_number").on('change', function(event) {
									console.log(event.target.value)
									query_post['part_number'] = event.target.value
									$.ajax({
										url: '/ajax_bad_cause_query',
										type: "POST",
										data: JSON.stringify(query_post),
										dataType: 'json',
										success: function(res) {
											console.log('獲取不良對策')
											console.log(res)
											bad_cause.bootstrapTable('load', res)
										}
									})
								})
							}
						})
					})
				}
			})
			$.ajax({
				url: '/ajax_bad',
				type: "GET",
				dataType: 'json',
				success: function(res) {
					console.log('不良清單')
					console.log(res)
					var html = '';
					html = '<option value="">請選擇</option>'
					for (var i = 0; i < res.length; i++) {
						html = html + '<option value="' + res[i]['bad_name'] + '">' + res[i]['bad_name'] + '</option>'
					}
					$('#bad').append(html)
					$("#bad").on('change', function(event) {
						console.log(event.target.value)
						query_post['bad_name'] = event.target.value
						$.ajax({
							url: '/ajax_bad_cause_query',
							type: "POST",
							data: JSON.stringify(query_post),
							dataType: 'json',
							success: function(res) {
								console.log('獲取不良對策')
								console.log(res)
								bad_cause.bootstrapTable('load', res)
							}
						})
					})
				}
			})

			function bad_cause_columns(){
				return [
					{
						align: 'center',
						title: '料號',
						field: 'inj_part_number'
					},
					{
						align: 'center',
						title: '不良項目',
						field: 'bad_name'
					},
					{
						align: 'center',
						title: '原因',
						field: 'cause'
					},
					{
						align: 'center',
						title: '對策',
						field: 'improvement'
					},
					{
						align: 'center',
						title: '責任人',
						field: 'response'
					},
					{
						align: 'center',
						title: '週',
						field: 'week'
					},
				]
			}
		</script>
	</body>
</html>
