<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>逆流監控</title>
		<link rel="stylesheet" href="js/layui/css/layui.css">
		<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="js/layui/layui.js"></script>
		<style type="text/css">
			.layui-this {
				background-color: lightsalmon;
			}
		</style>
	</head>

	<body class="body">


		<div>
			<fieldset class="layui-elem-field layui-field-title">
				<legend style="font-weight:bold">
					<span style="font-size: 1.5rem;">逆流監控</span>


				</legend>
			</fieldset>
		</div>
		<div class="layui-tab">
			<ul class="layui-tab-title">
				<li class="layui-this" id="B12">B12</li>
				<li id="B13">B13</li>
				<li id="B14">B14</li>
				<li id="B15">B15</li>
				<li id="B16">B16</li>
				<li id="B17">B17</li>
				<li id="B18">B18</li>
				<li id="B19">B19</li>

			</ul>
			<div class="layui-tab-content">
				<div class="layui-tab-item layui-show">
					<!--D0708-->
					<iframe src="ctMonitoring_revise.html?id1=B12" height="863" width="100%" frameborder="0"></iframe>
					<!--D0708-->
				</div>
				<div class="layui-tab-item">
					<!--D0910-->
					<iframe src="ctMonitoring_revise.html?id1=B13" height="863" width="100%" frameborder="0"></iframe>
					<!--D0910-->
				</div>
				<div class="layui-tab-item">
					<!--D0910-->
					<iframe src="ctMonitoring_revise.html?id1=B14" height="863" width="100%" frameborder="0"></iframe>
					<!--D0910-->
				</div>
				<div class="layui-tab-item">
					<!--D0910-->
					<iframe src="ctMonitoring_revise.html?id1=B15" height="863" width="100%" frameborder="0"></iframe>
					<!--D0910-->
				</div>
				<div class="layui-tab-item">
					<!--D0910-->
					<iframe src="ctMonitoring_revise.html?id1=B16" height="863" width="100%" frameborder="0"></iframe>
					<!--D0910-->
				</div>
				<div class="layui-tab-item">
					<!--D0910-->
					<iframe src="ctMonitoring_revise.html?id1=B17" height="863" width="100%" frameborder="0"></iframe>
					<!--D0910-->
				</div>
				<div class="layui-tab-item">
					<!--D0910-->
					<iframe src="ctMonitoring_revise.html?id1=B18" height="863" width="100%" frameborder="0"></iframe>
					<!--D0910-->
				</div>
				<div class="layui-tab-item">
					<!--D0910-->
					<iframe src="ctMonitoring_revise.html?id1=B19" height="863" width="100%" frameborder="0"></iframe>
					<!--D0910-->
				</div>

			</div>
		</div>


		<script>
			layui.use('element', function() {
				var $ = layui.jquery,
					element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
			});
			layui.use('layer', function() {
				var layer = layui.layer;
				layer.msg('自動切換中...<br>雙擊標籤停止自動切換')
			});
			$(document).ready(function() {
				var id = ['B19', 'B12', 'B13', 'B14', 'B15', 'B16', 'B17', 'B18'];
				var i = 0;

				function change_tab() {
					i = (i == 7) ? 0 : i + 1
					$('#' + id[i]).trigger("click");
				}
				change_tab();
				var interval = setInterval(change_tab, 1000 * 60)
				$('.layui-tab-title').dblclick(function() {
					layer.msg('停止自動切換...<br>重新整理啟動自動些換')
					clearInterval(interval)
				})

			});
		</script>




	</body>
</html>
