<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>文件上傳</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="static/js/layui/css/layui.css" media="all">
		<style>
			.bad_c1 {
				text-align: center;
				/* vertical-align: middle; */
				padding: 5px;
				height: 100px;
			}
			.bad_c1>div {
				border-collapse: collapse;
				border: 1px solid;
				vertical-align: text-bottom;
				height: 50%;
			}
		
			
			.simple {
					width: 90%;
					border-collapse: collapse;
					text-align: center;
					/* font-weight: bold; */
					font-size: 14px ;
				}
			.simple th{
				font-weight:bold;
				padding: 3px 0px;
			}
			.simple tr{
				/* border-top: 1.5px solid dimgrey; */
				border-bottom: 1.5px solid dimgray;
			}
			.simple td:nth-child(1){
				width: 10%;
				padding: 3px 0px;
			}
			.simple td:nth-child(2){
				width: 30%;
				padding: 3px 0px;
			}
			.simple td:nth-child(3){
				width: 15%;
				padding: 3px 0px;
				/* font-weight: bold; */
			}
			.simple td:nth-child(4){
				width: 10%;
				padding: 3px 0px;
				/* font-weight: bold; */
			}
			.simple td:nth-child(5){
				width: 5%;
				padding: 3px 0px;
				font-weight: bold;
			}
			#table_1 td:nth-child(1){
				width: 10%;
				padding: 3px 0px;
				font-weight: bold;
			}
		</style>
	</head>
	<body>
		<div>
			<fieldset class="layui-elem-field layui-field-title">
				<legend style="font-weight:bold">
					<span style="font-size: 1.5rem;">成型制程不良統計日報表</span>
				</legend>
			</fieldset>
			<div class="layui-row">
				<form class="layui-form" action="" lay-filter='all'>
					<div class="layui-form-item">
						<label class="layui-form-label">日期</label>
						<div class="layui-input-inline">
							<!-- session預設值 -->
							<input type="text" name="date" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">棟別</label>
						<div class="layui-input-inline">
							<select name="building" id="building" lay-filter='select_building' lay-verify="required">
								<option value="A18">A18</option>
								<option value="">A17</option>
								<option value="">A16</option>
							</select>
						</div>
						<label class="layui-form-label">噸數</label>
						<div class="layui-input-inline">
							<select name="tonnage" id="tonnage" lay-filter='select_tonnage' lay-verify="required">
								<option value="">請選擇</option>
							</select>
						</div>
						<label class="layui-form-label">機台</label>
						<div class="layui-input-inline">
							<select name="machine" id="machine" lay-filter='select_machine' lay-verify="required">
									<option value="">請選擇</option>
							</select>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">料號</label>
						<div class="layui-input-inline">
							<!-- session預設值 -->
							<input type="text" name="part_number" id="part_number" lay-verify="required" placeholder="料號" autocomplete="off" class="layui-input"
							 disabled>
						</div>
						<label class="layui-form-label">模穴號</label>
						<div class="layui-input-inline" id="mold_div">
							<!-- session預設值 -->
							<input type="text" name="mold" id="mold" lay-verify="required" placeholder="模穴號" autocomplete="off" class="layui-input" disabled>
						</div>
						<div class="layui-input-inline">
							<button type="button" lay-submit lay-filter="form_submit" class="layui-btn layui-btn-radius">
								<i class="layui-icon">查詢</i>
							</button>
						</div>
					</div>
				</form>
			</div>
			<hr class=" layui-bg-green">
			<div class="hide">
				<div id="statistic_div" style="padding: 0px 30px;">
					<fieldset class="layui-elem-field layui-field-title">
						<legend style="font-weight:bold">
							<span style="font-size: 1.5rem;">統計</span>
						</legend>
					</fieldset>
					<div class="layui-row">
						<div class="layui-col-md3 layui-col-xs6" style="padding: 3px;">
							<table id="table_1" class="simple">
								<tr>
									<td>產量</td>
									<td id="produce_amount"></td>
								</tr>
								<tr>
									<td>不良數</td>
									<td id="bad_amount"></td>
								</tr>
								<tr>
									<td>不良率</td>
									<td id="bad_percent"></td>
								</tr>
								<tr>
									<td>不良PPM</td>
									<td id="bad_ppm"></td>
								</tr>
								<tr>
									<td>損失工時(min)</td>
									<td id="lost_time"></td>
								</tr>
							</table>
						</div>
						<div class="layui-col-md3 layui-col-xs6">
							<table id="bad_table_1" class="simple">
								<tr>
									<th>不良</th>
									<th>數量</th>
									<th>PPM</th>
								</tr>
							</table>
						</div>
						<div class="layui-col-md6 layui-col-xs12">
							<table id="bad_table_2" lay-filter="test" style="margin-left: auto; margin-right: auto"></table>
						</div>
					</div>
					<div class="layui-row">
						<div class="layui-col-md12">
							<table id="anomaly_table" lay-filter="anomaly_table" style="margin-left: auto; margin-right: auto"></table>
						</div>
					</div>
					
				</div>
			</div>
		</div>

		<script src="static/js/layui/layui.all.js" charset="utf-8"></script>
		<script src="static/js/jquery-3.3.1.min.js" charset="utf-8"></script>
		<script src="static/js/moment.js" charset="utf-8"></script>
		<script>
			$(".hide").hide()
			var form = layui.form;
			var table = layui.table;
			var laydate = layui.laydate;
			var server_post = {'date': moment().format('YYYY-MM-DD'), 'building': 'A18'}

			laydate.render({
				elem: '#date',
				type: 'date',
				value: new Date(),
				isInitValue: true,
				// range: true,
				done: function(value, date, endDate) {
					console.log(value); //得到日期生成的值，如：2017-08-18
					console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
					console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
					server_post['date'] = value
					get_part_number()
				}
			});
			// 監聽棟別
			form.on('select(select_building)', function(data) {
				console.log('棟別:'+ data.value); //得到被选中的值
				server_post['building'] = data.value
				get_schedule(data.value)
			})
			// 獲取監聽機台,排產
			var get_schedule = function(fn_data){
				$.ajax({
					url: '{{url_for('schedule.ajax_machine_list')}}',
					type: "POST",
					data: JSON.stringify({
						'building': fn_data
					}),
					dataType: 'json',
					success: function(res) {
						console.log('獲取機台列表')
						console.log(res)
						for (var key in res) {
							var html = '<option value="' + key + '">' + key + '</option>'
							$('#tonnage').append(html)
						}
						form.render(null, 'all'); //更新 lay-filter="all" 所在容器内的全部表单状态

						// 監聽噸數
						form.on('select(select_tonnage)', function(data) {
							console.log("噸數:" + data.value); //得到被选中的值
							$('#machine').html('<option value="">請選擇</option>')
							for (var i = 0; i < res[data.value].length; i++) {
								var html = '<option value="' + res[data.value][i] + '">' + res[data.value][i] + '</option>'
								$('#machine').append(html)
							}
							form.render(null, 'all'); //更新 lay-filter="all" 所在容器内的全部表单状态
						})
						// 監聽機台
                        form.on('select(select_machine)', function(data) {
                            console.log("機台:" + data.value); //得到被选中的值
                            server_post['machine'] = data.value
                            // 讀取生產計劃取得料號/模號
                            console.log(server_post)
                            get_part_number()
                        })
					}
				})
			}
			var get_part_number = function() {
				    $.ajax({
                        url: '{{url_for('production.ajax_get_machine_schedule')}}',
                        type: "POST",
                        data: JSON.stringify(server_post),
                        dataType: 'json',
                        success: function(res) {
                        	console.log("排產計畫")
                         	console.log(res)
                        	if (res.error != ''){
                        		layer.msg(res.error)
                        		form.val('all', {
									"part_number": '',
									'mold': ''
								})
                        	}
							if (typeof(res.data) == 'undefined'){
								return
							}
							if (res.state === 1){
								return
							}
							if (res.data.length > 1){
								html = '<select name="mold" lay-filter="select_mold" lay-verify="required">'
								for (var i=0; i<res.data.length; i++){
									html = html + '<option value="' + res.data[i]['mold'] + '">' + res.data[i]['mold'] + '</option>'
								}
								html = html + '</select>'
								$('#mold_div').html(html)
								server_post['mold'] =  res.data[0]['mold']
								form.val('all', {"part_number": res.data[0]['part_number']})
								form.on('select(select_mold)', function(data) {
									console.log("模具:" + data.value); //得到被选中的值
									server_post['mold'] = data.value
								})
							}else{
								html = '<input type="text" name="mold" id="mold" lay-verify="required" placeholder="模穴號" autocomplete="off" class="layui-input" disabled>'
								$('#mold_div').html(html)
								form.val('all', {
									"part_number": res.data[0]['part_number'],
									'mold': res.data[0]['mold']
								})
							}

                        },
                    })
				}
			get_schedule(server_post['building'])
			// 建立表單 
			var form_no
			form.on('submit(form_submit)', function(data) {
				console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
				console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
				console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}

				$.ajax({
					url: '{{url_for('production.ajax_query_daily_report')}}',
					type: "POST",
					data: JSON.stringify(data.field),
					dataType: 'json',
					success: function(res) {
						console.log(res)
						layer.msg(res.msg)
						if (res.state === 0){
							$(".hide").show()
						form_no = res.form_no
						daily_report()
						}else{
							return
						}
						
						
					}
				})
			})
		
			// 取得以上傳數據

			daily_report = function() {
				$.ajax({
					url: '{{url_for('production.ajax_daily_report')}}',
					type: "POST",
					data: JSON.stringify({
						'form_no': form_no
					}),
					dataType: 'json',
					success: function(res) {
						console.log('讀取數據成功')
						console.log(res)
						$("#produce_amount").html(res.a.produce_amount)
						$("#bad_amount").html(res.a.bad_amount)
						$("#bad_percent").html(res.a.bad_percent.toFixed(2) + '%')
						$("#bad_ppm").html(res.a.bad_ppm)
						$("#lost_time").html(res.a.lost_time)

						html = '<tr><th>不良</th><th>數量</th><th>PPM</th></tr>'
						for (var key in res.b) {
							if (res.a.produce_amount != 0) {
								var ppm = 1000000 * res.b[key] / res.a.produce_amount
							} else {
								var ppm = 0
							}
							html = html + '<tr><td>' + key + '</td><td>' + res.b[key] + '</td><td>' + ppm.toFixed(0) + '</td><tr>'
						}
						$("#bad_table_1").html(html)
						table.render({
							elem: '#bad_table_2', //指定原始表格元素选择器（推荐id选择器）
							data: res.c,
							height: 200, //容器高度
							page: true,
							limit: 5,
							cols: [
								[{
										field: 'record_time',
										title: '時間'
									},
									{
										field: 'bad_name',
										title: '不良'
									}
								]
							]
						});
						table.render({
							elem: '#anomaly_table', //指定原始表格元素选择器（推荐id选择器）
							data: res.d,
							height: 300, //容器高度
							page: true,
							limit: 5,
							cols: [
								[{
										field: 'anomaly_type',
										title: '異常種類',
										minWidth: 180
									},
									{
										field: 'anomaly_name',
										title: '異常名稱',
										minWidth: 180
									},
									{
										field: 'lost_time',
										title: '損失工時(min)',
										minWidth: 100
									},
									{
										field: 'begin_time',
										title: '開始時間'
									},
									{
										field: 'end_time',
										title: '結束時間'
									},
									{
										field: 'responsible',
										title: '責任人'
									}
								]
							]
						});
					},
				})
			}
		</script>
	</body>
	<script>
		var table_name = 'daily_bad_report'
		var table_chi_name = '不良日報表'
	</script>
	{% include 'main/signing/sign_launch.html' %}
</html>
