<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>入庫單 </title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="static/js/layui/css/layui.css" media="all">

	</head>
	<body>
		<fieldset class="layui-elem-field layui-field-title">
			<legend style="font-weight:bold">
				<span style="font-size: 1.5rem;">物料</span><span style="font-size: 2rem;color: green;" ><u>入庫</u></span>
			</legend>
		</fieldset>
		<div>
			<form class="layui-form" action="" lay-filter='all'>
				<div class="layui-form-item">
					<label class="layui-form-label">日期</label>
					<div class="layui-input-inline">
						<input type="text" name="date" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input" disabled="">
					</div>
					<div style="padding: 0px 30px">
						<button id="button" type="button" lay-submit lay-filter="schedule_submit" class="layui-btn layui-btn-radius ">
							確認上傳
						</button>
					</div>
				</div>
			</form>
		</div>
		<div class="" style="padding: 0px 30px;">

			<div id="add" style="display: none;">
				<fieldset class="layui-elem-field layui-field-title">
					<legend id="add_hide" style="font-weight:bold">
						<span style="font-size: 1rem;">尚未記錄結存料號</span>
					</legend>
				</fieldset>
				<table id="add_inbound" lay-filter="add_inbound"></table>
			</div>
			<hr class=" layui-bg-green">
			<div id="update" style="display: none;">
				<fieldset id="update_hide" class="layui-elem-field layui-field-title">
					<legend style="font-weight:bold">
						<span style="font-size: 1rem;">新增料號</span>
					</legend>
				</fieldset>
				<form class="layui-form" action="" lay-filter='all_1'>
					<div class="layui-form-item">
						<label class="layui-form-label">產品名稱</label>
						<div class="layui-input-inline">
							<select name="product" id="product" lay-verify="required" lay-filter='select_product'>
								<option value="">請選擇</option>
								// js 新增選項
							</select>
						</div>
						<label class="layui-form-label">成型品名稱</label>
						<div class="layui-input-inline">
							<select name="Bom" id="Bom" lay-filter='select_inj_name' lay-verify="required">
								<option value=""></option>
							</select>
						</div>
						<div style="padding: 0px 30px">
							<button id="" type="button" lay-submit lay-filter="schedule_submit" class="layui-btn layui-btn-radius ">
								新增
							</button>
						</div>
					</div>
				</form>
			</div>
			
			<div class="layui-row">
				<fieldset class="layui-elem-field layui-field-title">
					<legend style="font-weight:bold">
						<span style="font-size: 1rem;">今日排產料號</span>
					</legend>
				</fieldset>
				<div class="layui-col-md12" style="padding: 0px 10px;">
					<table class="layui-hide" id="demo" lay-filter="demo"></table>
				</div>
			</div>
			<fieldset class="layui-elem-field layui-field-title">
				<legend style="font-weight:bold">
					<span style="font-size: 1rem;">明細</span></span>
				</legend>
			</fieldset>
			<div class="layui-row">
				<div class="layui-col-md12" style="padding: 0px 10px;">
					<table  id="list" lay-filter="list"></table>
				</div>
			</div>
			
		</div>

		<script src="static/js/layui/layui.all.js" charset="utf-8"></script>
		<script src="static/js/jquery-3.3.1.min.js" charset="utf-8"></script>

		<script>
			var form = layui.form;
			var table = layui.table;
			var laydate = layui.laydate;
			var upload_data = []

			$("#add_hide").click(function() {
				$("#add").hide()
			})
			$("#update_hide").click(function() {
				$("#update").hide()
				$('#product').append('<option value="">請選擇</option>')
			})
			$("#button").click(function() {
				console.log('上傳數據')
				console.log(upload_data)
				if (upload_data.length == 0){
					alert('無數據')
				}else{
					$.ajax({
					url: '{{url_for('production.ajax_revise_inbound')}}',
					type: "POST",
					data: JSON.stringify(upload_data),
					dataType: 'json',
					success: function(res) {
						layer.msg('上傳成功')
						upload_data = []
						table_render()
					},
				})
				}
				
			})
			laydate.render({
				elem: '#date',
				type: 'date',
				value: new Date(),
				isInitValue: true,
				// range: true,
				done: function(value, date, endDate) {
					console.log(value); //得到日期生成的值，如：2017-08-18
					console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
					console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
					table_render()
				}
			});


			table_render = function() {
				$.ajax({
					url: '{{url_for('production.ajax_latest_inbound')}}',
					type: "GET",
					dataType: 'json',
					success: function(res) {
						console.log('success')
						console.log(res)
						table.render({
							elem: '#demo',
							// height: 420,
							title: '入庫表',
							data: res,
							limit: 80,
							// page: true, //开启分页
							toolbar: 'default', //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
							defaultToolbar: [''],
							cols: [
								[{
										field: 'pnlist_id',
										title: '料號id',
										// event: 'inj_product_name'
									},
									{
										field: 'inj_product_name',
										title: '成型品名稱',
										minWidth: 130,
										// event: 'inj_product_name'
									},
									{
										field: 'part_number',
										title: '料號',
										minWidth: 130,
										// event: 'part_number'
									},
									{
										field: 'remain',
										title: '結存',
										minWidth: 130,
										// event: 'product_name_en'
									},
									{
										field: 'box_amount',
										title: '箱數',
										event: 'box_amount',
										edit: 'text',
										minWidth: 130,
									},
									{
										field: 'pallet',
										title: '棧板',
										event: 'pallet',
										edit: 'text',
										minWidth: 130,
									},
									{
										field: 'total',
										title: '*入庫數量',
										event: 'total',
										edit: 'text',
										minWidth: 130,
									},
									{
										field: 'responsible',
										title: '*責任人',
										event: 'responsible',
										edit: 'text',
										minWidth: 130,
									}
								]
							]
						});
						$("[data-field='pnlist_id']").css('display', 'none');
						table.on('edit(demo)', function(obj) {
							console.log(obj)
							var value = obj.value //得到修改后的值
							var data = obj.data //得到所在行所有键值
							var field = obj.field // 修改的欄位

							obj.tr.css('background', 'yellow')
							data['date'] = $("#date").val()

							var bol
							if (field === 'responsible') {
								if (value == '' || value == ' ') {
									layer.msg('請輸入責任人')
								}else{
								}
							} else {
								if (value === '0' || parseFloat(value)) {
								} else {
									alert('請輸入數字')
								}
							}
							var bol = 1
							
							var temp = {"box_amount": "箱數", "pallet": "棧板", "total":'出庫數量', "responsible":'責任人'}
							for (var key in temp) {
								if (parseFloat(data[key]) || data[key] === 0) {
									
									
								} else if (key === 'responsible'){
									console.log(data[key])
									if (!data[key]){
										bol = 0
									}
								} else {
									bol = 0
									layer.msg('請輸入-' + temp[key])
									break;
								}
							}
							if (bol) {
								for (var i=0; i<upload_data.length; i++){
									
									console.log(upload_data[i]['part_number'])
									console.log(data['part_number'])
									if (upload_data[i]['part_number'] === data['part_number'] ){
										console.log('repeat')
										upload_data.splice(i, 1)
										break;
									}
								}
								obj.tr.css('background', '#9eff85a6')
								upload_data.push(data)
								console.log('上傳數據')
								console.log(upload_data)
							}
						});
					}
				})
				$.ajax({
					url: '{{url_for('production.ajax_get_inbound')}}',
					type: "POST",
					data: JSON.stringify({
						"date": $("#date").val()
					}),
					dataType: 'json',
					success: function(res) {
						console.log('success')
						table.render({
							elem: '#list',
							// height: 420,
							title: '出庫表',
							data: res,
							limit: 80,
							cols: [
								[{
										field: 'date',
										title: '時間',
										sort: true
										// event: 'inj_product_name'
									},
									{
										field: 'inj_product_name',
										title: '成型品名稱',
										// event: 'inj_product_name'
									},
									{
										field: 'part_number',
										title: '料號',
										// event: 'part_number'
									},
									{
										field: 'box_amount',
										title: '箱數',
										event: 'box_amount',
										edit: 'text'
									},
									{
										field: 'pallet',
										title: '棧板',
										event: 'pallet',
										edit: 'text'
									},
									{
										field: 'total',
										title: '入庫數量',
										event: 'total',
										edit: 'text'
									},
									{
										field: 'responsible',
										title: '責任人',
										event: 'responsible',
										edit: 'text'
									}
								]
							]
						});
						table.on('edit(list)', function(obj) {
							console.log(obj)
							var value = obj.value //得到修改后的值
							var data = obj.data //得到所在行所有键值
							var field = obj.field // 修改的欄位
						
							obj.tr.css('background', 'yellow')
							data['date'] = $("#date").val()
						
							var bol
							if (field === 'responsible') {
								if (value == '' || value == ' ') {
									layer.msg('請輸入責任人')
								}else{
								}
							} else {
								if (value === '0' || parseFloat(value)) {
								} else {
									alert('請輸入數字')
								}
							}
							var bol = 1
							
							var temp = {"box_amount": "箱數", "pallet": "棧板", "total":'出庫數量', "responsible":'責任人'}
							for (var key in temp) {
								if (parseFloat(data[key]) || data[key] === 0) {
									
									
								} else if (key === 'responsible'){
									console.log(data[key])
									if (!data[key]){
										bol = 0
									}
								} else {
									bol = 0
									layer.msg('請輸入-' + temp[key])
									break;
								}
							}
							if (bol) {
								for (var i=0; i<upload_data.length; i++){
									
									console.log(upload_data[i]['part_number'])
									console.log(data['part_number'])
									if (upload_data[i]['part_number'] === data['part_number'] ){
										console.log('repeat')
										upload_data.splice(i, 1)
										break;
									}
								}
								obj.tr.css('background', '#9eff85a6')
								upload_data.push(data)
								console.log('上傳數據')
								console.log(upload_data)
							}
						});
					}
				})
			}

			setTimeout(table_render, 1000)


			// 监听头工具栏事件 
			table.on('toolbar(demo)', function(obj) {
				var checkStatus = table.checkStatus(obj.config.id),
				data = checkStatus.data; //获取选中的数据
				
				switch (obj.event) {
					case 'add':
						$("#add").show("fast")
						layer.msg('添加尚未記錄結存料號');

						$.ajax({
							url: '{{url_for('production.ajax_get_init_inbound')}}',
							type: "GET",
							dataType: 'json',
							success: function(res) {
								console.log(res)
								table.render({
									elem: '#add_inbound',
									// height: 420,
									title: '未記錄料號',
									data: res,
									limit: 80,

									cols: [
										[{
												field: 'product_name',
												title: '機種',
												// event: 'inj_product_name'
											},
											{
												field: 'inj_product_name',
												title: '成型品名稱',
												// event: 'inj_product_name'
											},
											{
												field: 'part_number',
												title: '料號',
												// event: 'part_number'
											},
											{
												field: 'amount',
												title: '目前結存數量',
												event: 'responsible',
												edit: 'text'
											}
										]
									]
								});
								table.on('edit(add_inbound)', function(obj) {
									var value = obj.value //得到修改后的值
									data = obj.data //得到所在行所有键值
									// field = obj.field; //得到字段
									// console.log(parseFloat(value))
									// console.log(obj)
									// console.log($("#date").val())
									data['date'] = $("#date").val()
									if (value === '0' || parseFloat(value)) {

										$.ajax({
											url: '{{url_for('production.ajax_add_inbound_part_number')}}',
											type: "POST",
											data: JSON.stringify(data),
											dataType: 'json',
											success: function(res) {
												console.log('success')
												table_render()
												layer.msg('目前結存數量以上傳:' + value);
											}
										})

									} else {
										layer.msg('請輸入數字')
									}
								});
							},
						})
						break;
					case 'delete':
						break;
					case 'update':
						$("#update").show("fast")
						layer.msg('增加料號');
						add_part_number()
				};
			});


			add_part_number = function() {
				
				$.ajax({
					url: '{{url_for('schedule.ajax_product_list')}}',
					type: "GET",
					dataType: 'json',
					success: function(res) {
						console.log('獲取產品列表')
						var html = '';
						for (var key in res) {
							html = html + '<optgroup label="' + key + '">'
							for (var i = 0; i < res[key].length; i++) {
								html = html + '<option value="' + res[key][i] + '">' + res[key][i] + '</option>'
							}
							html = html + '</optgroup>'
						}
						$("#product").html('<option value="">請選擇</option>')
						$('#product').append(html)
						form.render(null, 'all_1'); //更新 lay-filter="all" 所在容器内的全部表单状态
					}
				})
				// 監聽產品名稱選單
				form.on('select(select_product)', function(data) {
					console.log(data.elem); //得到select原始DOM对象
					console.log(data.value); //得到被选中的值
					console.log(data.othis); //得到美化后的DOM对象
					
					
					// 發出ajax取得產品Bom
					$.ajax({
						url: '{{url_for('schedule.ajax_bom_list')}}',
						type: "POST",
						data: JSON.stringify({
							'product_name': data.value
						}),
						dataType: 'json',
						success: function(res) {
							console.log('獲取BOM列表')
							console.log(res)
							part_nuber = res
							// 更新成型品名稱選單
							var html = '';
							for (var key in res) {
								html = html + '<option value="' + res[key] + '">' + key + '</option>'
							}
							$("#Bom").html('<option value=""></option>')
							$('#Bom').append(html)
							form.render(null, 'all_1'); //更新 lay-filter="all" 所在容器内的全部表单状态
						}
					})
				});
				// 監聽成型品名稱選單
				form.on('select(select_inj_name)', function(data) {
					console.log(data.elem); //得到select原始DOM对象
					console.log(data.value); //得到被选中的值
					console.log(data.othis); //得到美化后的DOM对象
					// todo:把新料號並進表格
				})
			}
		</script>
	</body>


</html>
