<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>文件上傳</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="static/js/layui/css/layui.css" media="all">
		<style>
		</style>
	</head>
	<body>
		<div>
			<fieldset class="layui-elem-field layui-field-title">
				<legend style="font-weight:bold">
					<span style="font-size: 1.5rem;">原料物品盤點表</span>
				</legend>
			</fieldset>
			<div class="layui-row">
				<form class="layui-form" action="" lay-filter='all'>
					<div class="layui-form-item">
						<label class="layui-form-label">日期</label>
						<div class="layui-input-inline">
							<input type="text" name="date" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
						</div>
						<label class="layui-form-label">棟別</label>
						<div class="layui-input-inline">
							<select name="building" id="building" lay-filter='select_building' lay-verify="required">
								<option value=""></option>
								<option value="A18">A18</option>
								<option value="">A17</option>
								<option value="">A16</option>
							</select>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">料號名稱</label>
						<div class="layui-input-inline">
							<select name="material_part_number" id="material_part_number" lay-filter='select_material' lay-verify="required">
								<option value=""></option>
							</select>
						</div>
						<label class="layui-form-label">領料</label>
						<div class="layui-input-inline">
							<input type="text" name="get_amount" placeholder="領料" autocomplete="off" class="layui-input" lay-verify="required">
						</div>
						
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">原料</label>
						<div class="layui-input-inline">
							<input type="text" name="material" placeholder="原料" autocomplete="off" class="layui-input">
						</div>
						<label class="layui-form-label">顏色</label>
						<div class="layui-input-inline">
							<input type="text" name="color" placeholder="顏色" autocomplete="off" class="layui-input">
						</div>
						<label class="layui-form-label">廠商</label>
						<div class="layui-input-inline">
							<input type="text" name="vendor" placeholder="廠商" autocomplete="off" class="layui-input">
						</div>
					</div>

					<div style="padding: 0px 30px;">
						<fieldset class="layui-elem-field" style="width: 100%; ">
							<legend>現場</legend>
							<div class="layui-field-box">

								<div class="layui-form-item">
									<label class="layui-form-label">加料區</label>
									<div class="layui-input-inline">
										<input type="text" name="feeding_zone" id="feeding_zone" placeholder="加料區" autocomplete="off" class="layui-input"
										 lay-verify="required">
									</div>
									<label class="layui-form-label">乾燥桶</label>
									<div class="layui-input-inline">
										<input type="text" name="dry_bucket" id="dry_bucket" placeholder="乾燥桶" autocomplete="off" class="layui-input"
										 lay-verify="required">
									</div>
									<label class="layui-form-label">原料桶</label>
									<div class="layui-input-inline">
										<input type="text" name="material_bucket" id="material_bucket" placeholder="原料桶" autocomplete="off" class="layui-input"
										 lay-verify="required">
									</div>
								</div>	
								<div class="layui-form-item">	
									<label class="layui-form-label">合計</label>
									<div class="layui-input-inline">
										<input type="text" name="total" id="total" placeholder="合計" autocomplete="off" class="layui-input" lay-verify="required">
									</div>
								</div>
								<div class="layui-form-item">
									<div class="layui-input-inline" style="padding-left: 20px;">
										<button type="button" lay-submit lay-filter="form_submit" class="layui-btn layui-btn-radius">
											<i class="layui-icon">&#xe654;上傳</i>
										</button>
									</div>
								</div>
							</div>
						</fieldset>
				</form>
			</div>
		</div>
		<hr class="layui-bg-green">

		<div class="layui-row" style="padding: 0px 30px;">
			<div class="layui-col-md12">
				<table id="material_check_table" lay-filter="material_check_table" style="margin-left: auto; margin-right: auto"></table>
			</div>
		</div>

		<script src="static/js/layui/layui.all.js" charset="utf-8"></script>
		<script src="static/js/jquery-3.3.1.min.js" charset="utf-8"></script>
		<script>
			var form = layui.form;
			var table = layui.table;
			var laydate = layui.laydate;
			var schedule_post = {}
			laydate.render({
				elem: '#date',
				type: 'date',
				// range: true,
				done: function(value, date, endDate) {
					console.log(value); //得到日期生成的值，如：2017-08-18
					console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
					console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
					schedule_post['date'] = value
					daily_report()
					// $('#temp_date').append(value)
				}
			});
			// 監聽棟別
			form.on('select(select_building)', function(data) {
				console.log(data.elem); //得到select原始DOM对象
				console.log(data.value); //得到被选中的值
				console.log(data.othis); //得到美化后的DOM对象
				schedule_post['building'] = data.value
				daily_report()

			})
			// 取得材料列表
			$.ajax({
				url: '{{url_for('production.ajax_get_material')}}',
				type: "GET",
				dataType: 'json',
				success: function(res) {
					console.log(res)
					// 加入材料列表
					var html = '';
					for (var key in res) {
						html = html + '<option value="' + key + '">' + key + '</option>'
					}
					$('#material_part_number').append(html)
					form.render(null, 'all');
					// 監聽材料
					form.on('select(select_material)', function(data) {
						console.log(data.elem); //得到select原始DOM对象
						console.log(data.value); //得到被选中的值
						console.log(data.othis); //得到美化后的DOM对象
						// 顯示顏色資訊
						form.val('all', {
							"material": res[data.value]['material_type'],
							"color": res[data.value]['color'],
							"vendor": res[data.value]['material_vendor']
						})
					})
				},
			})
			// 同步加總
			var feeding_zone = document.getElementById('feeding_zone')
			var add1 = 0
			feeding_zone.oninput = function() {
				add1 = parseFloat(feeding_zone.value)
				var total = add1 + add2 + add3
				console.log(total)
				$('#total').val(total);
			}
			var dry_bucket = document.getElementById('dry_bucket')
			var add2 = 0
			dry_bucket.oninput = function() {
				add2 = parseFloat(dry_bucket.value)
				var total = add1 + add2 + add3
				console.log(total)
				$('#total').val(total);
			}
			var material_bucket = document.getElementById('material_bucket')
			var add3 = 0
			material_bucket.oninput = function() {
				add3 = parseFloat(material_bucket.value)
				var total = add1 + add2 + add3
				console.log(total)
				$('#total').val(total);
			}

			// 提交

			form.on('submit(form_submit)', function(data) {
				console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
				console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
				console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}

				$.ajax({
					url: '{{url_for('production.ajax_material_check_upload')}}',
					type: "POST",
					data: JSON.stringify(data.field),
					dataType: 'json',
					success: function(res) {
						console.log(res)
						if (res['state']==1){
							layer.msg(res['error'])
						}else{
							daily_report()
						}
						
					}
				})
			})

			// 取得已上傳數據

			daily_report = function() {
				$.ajax({
					url: '{{url_for('production.ajax_material_check')}}',
					type: "POST",
					data: JSON.stringify(schedule_post),
					dataType: 'json',
					success: function(res) {
						console.log('讀取數據成功')
						console.log(res)

						table.render({
							elem: '#material_check_table', //指定原始表格元素选择器（推荐id选择器）
							data: res,
							height: 1000, //容器高度
							page: true,
							cols: [
								[{
										field: 'date',
										title: '日期'
									},
									{
										field: 'building',
										title: '棟別',
										Width: 10
									},
									{
										field: 'material_part_number',
										title: '料號',
										minWidth: 160
									},
<!--									{-->
<!--										field: 'get_amount',-->
<!--										title: '領料(kg)'-->
<!--									},-->
									{
										field: 'feeding_bucket',
										title: '加料區(kg)'
									},
									{
										field: 'dry_bucket',
										title: '乾燥桶(kg)'
									},
									{
										field: 'material_bucket',
										title: '原料桶(kg)'
									},
									{
										field: 'total',
										title: '結存(kg)'
									}
								]
							]
						});
					},
				})
			}
		</script>
	</body>
</html>
