<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>現場總覽</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<script src="static/js/jquery-3.3.1.min.js" charset="utf-8"></script>
		<script src="static/js/vue.js"></script>
		<script src="static/js/echarts.min.js"></script>
		<link href="static/css/bootstrap.min.css" rel="stylesheet">
		<script src="static/js/bootstrap.min.js"></script>
		<style type="text/css">
			.building {
				padding: 10px;
				/* background-color: rgb(255, 208, 34); */
				/* height: 500px; */
				border: 3px solid #777;
				border-radius: 6px;
			}

			.area {
				padding: 5px 0px;
				/* text-align: center; */
				/* background: white; */
				/* border: 2px solid #0071ff; */
			}
			.section {
				padding: 5px 15px;
			}
			.section_name {
				width: 60px; 
				font-size: 1.2rem;
			}
			.machine {
				/* border: 3px solid white;
				border-radius: 10px; */
				padding: 3px;

				/* background: rgb(255, 208, 34) */
			}

			.machine_state {
				border-top: 2px solid white;
				border-left: 2px solid white;
				border-right: 2px solid white;
				border-radius: 3px 3px 0px 0px;
				/* padding: 2px; */
				font-size: 0.8rem;
				/* height: inherit; */
				text-align: center;
				vertical-align: middle;
			}

			.machine .offline {
				background: lightgrey;
			}

			.machine .standby {
				background: orange;
			}

			.machine .online {
				background: #74AFF9;
			}

			.machine .alarm {
				background: red;
			}

			.machine_produce {
				border-left: 2px solid white;
				border-right: 2px solid white;
				border-bottom: 2px solid white;
				border-radius: 0px 0px 3px 3px;
				padding: 2px;
				font-size: 1px;
				background: papayawhip;
				/* height: inherit; */
				text-align: center;
				vertical-align: bottom;
			}

			.modal-mask {
				position: fixed;
				z-index: 9998;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, .5);
				display: table;
				transition: opacity .3s ease;
			}

			.modal-wrapper {
				display: table-cell;
				vertical-align: middle;
			}

			.modal-container {
				width: 600px;
				margin: 0px auto;
				padding: 20px 30px;
				background-color: #fff;
				border-radius: 2px;
				box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
				transition: all .3s ease;
				font-family: Helvetica, Arial, sans-serif;
			}

			.modal-header h3 {
				margin-top: 0;
				color: #42b983;
			}

			.modal-body {
				margin: 20px 0;
			}

			.modal-default-button {
				float: right;
			}

			/*
			 * The following styles are auto-applied to elements with
			 * transition="modal" when their visibility is toggled
			 * by Vue.js.
			 *
			 * You can easily play with the modal transition by editing
			 * these styles.
			*/

			.modal-enter {
				opacity: 0;
			}

			.modal-leave-active {
				opacity: 0;
			}

			.modal-enter .modal-container,
			.modal-leave-active .modal-container {
				-webkit-transform: scale(1.1);
				transform: scale(1.1);
			}
		</style>
	</head>
	<body>
		<fieldset class="layui-elem-field layui-field-title">
			<legend style="font-weight:bold">

			</legend>
		</fieldset>
		<div id="A18" style="padding: 0px 30px;">
			<div class="row d-flex justify-content-between" style="text-align: center;">
				<div style="display: inline-block;">
					<span style=" vertical-align: text-bottom;">採集時間: {[time]}</span>
				</div>
				<span style="display: inline-block; font-size: 1.5rem; font-weight:bold">成型設備監控系統</span>
				<div style="display: inline-block; vertical-align: bottom;">
					<span style="font-size: 1.5rem;">生產區域：A18-1F</span>
				</div>
			</div>
			<vue-building style="padding: 0px 15px;">
				<div class="">
					<div class="row section">
						<vue-area class="col-sm-5 d-flex justify-content-between">
							<div class="section_name">A區</div>
							<vue-machine v-for="info in infos.A1" :info="info"></vue-machine>
						</vue-area>
						<div class="col-sm-1"></div>

						<vue-area class="col-sm-6 d-flex justify-content-between">
							<vue-machine v-for="info in infos.A2" :info="info"></vue-machine>
						</vue-area>
					</div>
					<div class="row section">
						<vue-area class="col-sm-5 d-flex justify-content-between">
							<div class="section_name">B區</div>
							<vue-machine v-for="info in infos.B1" :info="info"></vue-machine>
						</vue-area>
						<div class="col-sm-1"></div>

						<vue-area class="col-sm-6 d-flex justify-content-between">
							<vue-machine v-for="info in infos.B2" :info="info"></vue-machine>
							<div style="width: 200px; text-align: center; border: 1px solid black;">修模區</div>
						</vue-area>
					</div>
					<div class="row section">
						<vue-area class="col-sm-5 d-flex justify-content-between">
							<div class="section_name">C區</div>
							<vue-machine v-for="info in infos.C1" :info="info"></vue-machine>
						</vue-area>
						<div class="col-sm-1"></div>

						<vue-area class="col-sm-6 d-flex justify-content-between">
							<vue-machine v-for="info in infos.C2" :info="info"></vue-machine>
						</vue-area>
					</div>
					<div class="row section">
						<vue-area class="col-sm-5 d-flex justify-content-between">
							<div class="section_name">D區</div>
							<vue-machine v-for="info in infos.D1" :info="info"></vue-machine>
						</vue-area>
						<div class="col-sm-1"></div>
						<vue-area class="col-sm-6 d-flex justify-content-between">
							<vue-machine v-for="info in infos.D2" :info="info"></vue-machine>
						</vue-area>
					</div>
				</div>
				<div class="d-flex justify-content-center section" style="text-align: center;">
					<span>機台總數 : 90</span>
					<span style="background: #74AFF9; border-radius: 5px; padding: 2px 5px; margin: 0 10px;">生產 : {[states.online]}</span>
					<span style="background: orange; border-radius: 5px; padding: 2px 5px; margin: 0 10px;">待機 : {[states.standby]}</span>
					<span style="background: red; border-radius: 5px; padding: 2px 5px; margin: 0 10px;">警報 : {[states.alarm]}</span>
					<span style="background: lightgrey; border-radius: 5px; padding: 2px 5px; margin: 0 10px;">離線 : {[states.offline]}</span>
					<!-- <span style="color: papayawhip; font-size: 1.5rem;">■</span><span>產能</span> -->
					<span style="font-size: 0.6rem;">
						<span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;北</span>
						<img src="static/img/direction.png" style="transform: rotate(270deg);">
					</span>
				</div>
			</vue-building>
			<fieldset class="layui-elem-field layui-field-title">
				<legend style="font-weight:bold">
					<span style="font-size: 1.5rem;">成型生產計劃&實際</span>
				</legend>
			</fieldset>
			<vue-compare-chart chart_name="B區" :machine_data="machine_data" :machine_array="['B12', 'B13', 'B14', 'B15', 'B16', 'B17', 'B18', 'B19']"></vue-compare-chart>
		</div>

		<script type="text/javascript">
			var A1_list = ['A27', 'A26', 'A25', 'A24', 'A23', 'A22', 'A21', 'A20', 'A19']
			var A2_list = ['A18', 'A17', 'A16', 'A15', 'A14', 'A13', 'A12', 'A11', 'A10', 'A09', 'A08', 'A07', 'A06',
				'A05', 'A04', 'A03', 'A02', 'A01'
			]
			var B1_list = ['B19', 'B18', 'B17', 'B16', 'B15', 'B14', 'B13', 'B12']
			var B2_list = ['B11', 'B10', 'B09', 'B08', 'B07', 'B06', 'B05', 'B04']
			var C1_list = ['C22', 'C21', 'C20', 'C19', 'C18', 'C17', 'C16', 'C15', 'C14', 'C13']
			var C2_list = ['C12', 'C11', 'C10', 'C09', 'C08', 'C07', 'C06', 'C05', 'C04', 'C03', 'C02', 'C01']
			var D1_list = ['D27', 'D26', 'D25', 'D24', 'D23', 'D22', 'D21', 'D20', 'D19', 'D18', 'D17']
			var D2_list = ['D16', 'D15', 'D14', 'D13', 'D12', 'D11', 'D10', 'D09', 'D08', 'D07', 'D05', 'D04',
				'D03', 'D02'
			]
			Vue.component('vue-building', {
				template: '<div class=" building" >\
					<slot></slot>\
				</div>',
				props: ['info'],
				delimiters: ['{[', ']}'],
			})
			Vue.component('vue-area', {
				template: '<div style="display: inline-block;" class="area">\
						<slot></slot>\
				</div>',
				props: ['info'],
				delimiters: ['{[', ']}'],
			})
			Vue.component('vue-machine', {
				template: '<div style="display: inline-block; width: 50px; padding: 0 0;" class="machine">\
								<div class="machine_state" :class="info.machine_name">\
									<a href="javascript:;" v-on:click="detail" v-html="state">\
									</a>\
								</div>\
							<vue-detail v-if="test" v-on:close="detail" :post_data="info"></vue-detail>\
						</div>',
				props: ['info'],
				delimiters: ['{[', ']}'],
				data: function() {
					return {
						test: 0,
						blue: [
							'<svg viewBox="0 0 47 27" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg">',
							'<g>',
							'<rect fill="none" id="canvas_background" height="27" width="47" y="-1" x="-1"/>',
							'</g>',
							' <g>',
							'<g id="svg_31">',
							'<g id="svg_30">',
							'<rect stroke="null" id="svg_2" height="9.370052" width="17.275169" y="2.218143" x="-0.125771" stroke-width="1.5" fill="#74aff9"/>',
							'<rect stroke="null" id="svg_3" height="9.314771" width="1.658416" y="2.245782" x="25.165075" stroke-width="1.5" fill="#74aff9"/>',
							'<rect stroke="null" id="svg_5" height="0.967409" width="8.015678" y="7.994959" x="17.121756" stroke-width="1.5" fill="#74aff9"/>',
							'<rect stroke="null" id="svg_6" height="15.312709" width="47.229353" y="11.49208" x="-0.103577" stroke-width="1.5" fill="#74aff9"/>',
							'<rect stroke="null" id="svg_8" height="5.942658" width="11.885316" y="4.0424" x="32.82143" stroke-width="1.5" fill="#74aff9"/>',
							'<rect stroke="null" id="svg_11" height="2.902228" width="6.053219" y="5.452054" x="26.795851" stroke-width="1.5" fill="#74aff9"/>',
							'<path stroke="null" id="svg_20" d="m33.954657,0.19521l3.938738,0l-1.969369,4.767944l-1.969369,-4.767944z" stroke-width="1.5" fill="#74aff9"/>',
							'<rect stroke="null" id="svg_21" height="0.967409" width="8.015678" y="5.120371" x="17.121756" stroke-width="1.5" fill="#74aff9"/>',
							'</g>',
							'<text transform="matrix(0.4979494731203163,0,0,0.4979494731203163,-17.740618277946496,-63.724716173938646) " stroke="null" xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_25" y="175.390558" x="61.470803" stroke-width="0" fill="#000000">' +
							this.info.machine_name + '</text>',
							'</g>',
							'</g>',
							'</svg>'
						].join(""),
						red: [
							'<svg viewBox="0 0 47 27" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg">',
							'<g>',
							'<rect fill="none" id="canvas_background" height="27" width="47" y="-1" x="-1"/>',
							'</g>',
							' <g>',
							'<g id="svg_31">',
							'<g id="svg_30">',
							'<rect stroke="null" id="svg_2" height="9.370052" width="17.275169" y="2.218143" x="-0.125771" stroke-width="1.5" fill="#ff0000"/>',
							'<rect stroke="null" id="svg_3" height="9.314771" width="1.658416" y="2.245782" x="25.165075" stroke-width="1.5" fill="#ff0000"/>',
							'<rect stroke="null" id="svg_5" height="0.967409" width="8.015678" y="7.994959" x="17.121756" stroke-width="1.5" fill="#ff0000"/>',
							'<rect stroke="null" id="svg_6" height="15.312709" width="47.229353" y="11.49208" x="-0.103577" stroke-width="1.5" fill="#ff0000"/>',
							'<rect stroke="null" id="svg_8" height="5.942658" width="11.885316" y="4.0424" x="32.82143" stroke-width="1.5" fill="#ff0000"/>',
							'<rect stroke="null" id="svg_11" height="2.902228" width="6.053219" y="5.452054" x="26.795851" stroke-width="1.5" fill="#ff0000"/>',
							'<path stroke="null" id="svg_20" d="m33.954657,0.19521l3.938738,0l-1.969369,4.767944l-1.969369,-4.767944z" stroke-width="1.5" fill="#ff0000"/>',
							'<rect stroke="null" id="svg_21" height="0.967409" width="8.015678" y="5.120371" x="17.121756" stroke-width="1.5" fill="#ff0000"/>',
							'</g>',
							'<text transform="matrix(0.4979494731203163,0,0,0.4979494731203163,-17.740618277946496,-63.724716173938646) " stroke="null" xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_25" y="175.390558" x="61.470803" stroke-width="0" fill="#000000">' +
							this.info.machine_name + '</text>',
							'</g>',
							'</g>',
							'</svg>'
						].join(""),
						orange: [
							'<svg viewBox="0 0 47 27" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg">',
							'<g>',
							'<rect fill="none" id="canvas_background" height="27" width="47" y="-1" x="-1"/>',
							'</g>',
							' <g>',
							'<g id="svg_31">',
							'<g id="svg_30">',
							'<rect stroke="null" id="svg_2" height="9.370052" width="17.275169" y="2.218143" x="-0.125771" stroke-width="1.5" fill="#ffa550"/>',
							'<rect stroke="null" id="svg_3" height="9.314771" width="1.658416" y="2.245782" x="25.165075" stroke-width="1.5" fill="#ffa550"/>',
							'<rect stroke="null" id="svg_5" height="0.967409" width="8.015678" y="7.994959" x="17.121756" stroke-width="1.5" fill="#ffa550"/>',
							'<rect stroke="null" id="svg_6" height="15.312709" width="47.229353" y="11.49208" x="-0.103577" stroke-width="1.5" fill="#ffa550"/>',
							'<rect stroke="null" id="svg_8" height="5.942658" width="11.885316" y="4.0424" x="32.82143" stroke-width="1.5" fill="#ffa550"/>',
							'<rect stroke="null" id="svg_11" height="2.902228" width="6.053219" y="5.452054" x="26.795851" stroke-width="1.5" fill="#ffa550"/>',
							'<path stroke="null" id="svg_20" d="m33.954657,0.19521l3.938738,0l-1.969369,4.767944l-1.969369,-4.767944z" stroke-width="1.5" fill="#ffa550"/>',
							'<rect stroke="null" id="svg_21" height="0.967409" width="8.015678" y="5.120371" x="17.121756" stroke-width="1.5" fill="#ffa550"/>',
							'</g>',
							'<text transform="matrix(0.4979494731203163,0,0,0.4979494731203163,-17.740618277946496,-63.724716173938646) " stroke="null" xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_25" y="175.390558" x="61.470803" stroke-width="0" fill="#000000">' +
							this.info.machine_name + '</text>',
							'</g>',
							'</g>',
							'</svg>'
						].join(""),
						grey: [
							'<svg viewBox="0 0 47 27" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg">',
							'<g>',
							'<rect fill="none" id="canvas_background" height="27" width="47" y="-1" x="-1"/>',
							'</g>',
							' <g>',
							'<g id="svg_31">',
							'<g id="svg_30">',
							'<rect stroke="null" id="svg_2" height="9.370052" width="17.275169" y="2.218143" x="-0.125771" stroke-width="1.5" fill="#d3d3d3"/>',
							'<rect stroke="null" id="svg_3" height="9.314771" width="1.658416" y="2.245782" x="25.165075" stroke-width="1.5" fill="#d3d3d3"/>',
							'<rect stroke="null" id="svg_5" height="0.967409" width="8.015678" y="7.994959" x="17.121756" stroke-width="1.5" fill="#d3d3d3"/>',
							'<rect stroke="null" id="svg_6" height="15.312709" width="47.229353" y="11.49208" x="-0.103577" stroke-width="1.5" fill="#d3d3d3"/>',
							'<rect stroke="null" id="svg_8" height="5.942658" width="11.885316" y="4.0424" x="32.82143" stroke-width="1.5" fill="#d3d3d3"/>',
							'<rect stroke="null" id="svg_11" height="2.902228" width="6.053219" y="5.452054" x="26.795851" stroke-width="1.5" fill="#d3d3d3"/>',
							'<path stroke="null" id="svg_20" d="m33.954657,0.19521l3.938738,0l-1.969369,4.767944l-1.969369,-4.767944z" stroke-width="1.5" fill="#d3d3d3"/>',
							'<rect stroke="null" id="svg_21" height="0.967409" width="8.015678" y="5.120371" x="17.121756" stroke-width="1.5" fill="#d3d3d3"/>',
							'</g>',
							'<text transform="matrix(0.4979494731203163,0,0,0.4979494731203163,-17.740618277946496,-63.724716173938646) " stroke="null" xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="24" id="svg_25" y="175.390558" x="61.470803" stroke-width="0" fill="#000000">' +
							this.info.machine_name + '</text>',
							'</g>',
							'</g>',
							'</svg>'
						].join(""),
					}
				},
				methods: {
					detail: function() {
						if (this.test) {
							this.test = 0
						} else {
							this.test = 1
						}
					},
				},
				computed: {
					state: function() {
						switch (this.info.machine_state) {
							case 0:
								return this.grey
							case 1:
								return this.orange
							case 2:
								return this.blue
							case 3:
								return this.red
						}
					}
				},
				mounted: function() {

					$("." + this.info.machine_name + " #svg_25").text(this.info.machine_name)
				},
				updated: function() {

					$("." + this.info.machine_name + " #svg_25").text(this.info.machine_name)
				}
			})
			Vue.component('vue-detail', {
				template: ' <div class="modal-mask" v-on:click="close_detail">\
					<div class="modal-wrapper">\
						<div class="modal-container">\
							<div class="modal-body">\
								<h1>{[post_data.machine_name]}</h1>\
								<ul style="list-style-type: circle;">\
									<li>機台狀態: {[state]}</li>\
									<li>機種名稱: {[detail.inj_product_name]}</li>\
									<li>產能: {[post_data.QcTolCnt == 0 ? "-" : post_data.QcTolCnt]}</li>\
									<li>今日排產: {[detail.amount]}</li>\
									<li>達成率: {[acheive]} %</li>\
								</ul>\
							</div>\
							<div class="modal-body">\
								<h2>模具訊息</h2>\
								<ul>\
									<li>模號: {[detail.mold]}</li>\
									<li>模穴數: {[detail.cave]}</li>\
									<li>今日模次:{[post_data.QcTolCnt == 0 ? "-" : post_data.QcTolCnt/2]}</li>\
									<li>累計模次:{[detail.mold_total == 0 ? "-" : detail.mold_total]}(2019-11-01起始)</li>\
								</ul>\
							</div>\
							<div class="modal-body">\
								<h2>機台訊息</h2>\
								<ul>\
									<li>噸數: {[machine.tonnage]}</li>\
									<li>廠商: {[machine.brand]}</li>\
									<li>型號: {[machine.type]}</li>\
								</ul>\
							</div>\
						</div>\
					</div>\
				</div>',
				props: ['post_data'],
				data: function() {
					return {
						machine: {},
						detail: {},
						interval: ''
					}
				},
				computed: {
					acheive: function() {
						var x = (100 * this.post_data.QcTolCnt / this.detail.amount).toFixed(0)
						return x
					},
					state: function() {

						switch (this.post_data.machine_state) {
							case 0:
								return '離線'
							case 1:
								return '待機'
							case 2:
								return '生產'
							case 3:
								return '警報'
						}
					}
				},
				delimiters: ['{[', ']}'],
				mounted: function() {
					var vm = this
					console.log('mounted')
					$.ajax({
						url: '{{url_for('production.ajax_get_machine_detail')}}',
						type: "POST",
						data: JSON.stringify(vm.post_data),
						dataType: 'json',
						success: function(res) {
							console.log('機台詳情')
							console.log(res)
							vm.machine = res
						},
					})

					this.get_machine_detail()
					var get_detail = setInterval(function() {
						vm.get_machine_detail()
					}, 40000)
					this.interval = get_detail
				},
				methods: {
					get_machine_detail: function() {
						var vm = this
						$.ajax({
							url: '{{url_for('production.ajax_get_machine_detail_schedule')}}',
							type: "POST",
							data: JSON.stringify(vm.post_data),
							dataType: 'json',
							success: function(res) {
								console.log('機台訊息')
								console.log(res)
								vm.detail = res
							},
						})
					},
					close_detail: function() {
						clearInterval(this.interval)
						this.$emit('close')
					}
				}
			})
			Vue.component('vue-compare-chart', {
				template: '<div class="row" style="padding: 0 30px;">\
							<div class="col-sm-12">\
								<div :id="chart_id" style="height: 300px;width:100%">\
								</div>\
							</div>\
						</div>',
				props: ['chart_name', 'machine_data', 'machine_array'],
				delimiters: ['{[', ']}'],
				data: function() {
					return {
						source: [['machine'], ['total'], ['target'], ['real'], ['difference']]
					}
				},
				computed: {
					chart_id: function() {
						return 'chart-' + this.chart_name
					},
					chart: function() {
						return echarts.init(document.getElementById(this.chart_id))
					},
					option: function() {
						return {
							title: {
								text: this.chart_name,
							},
							color: ['darkorange', '#1E9FFF', '#5fb878', '#e5323e'],
							tooltip: {
								trigger: 'axis',
								axisPointer: {
									type: 'shadow'
								}
							},
							grid: {
								x: 50,
								y: 50,
								x2: 50,
								y2: 40,
							},
							legend: {
								data: ['總計劃', '計劃', '實績(達成)', '實績(未達成)'],
								textStyle: {
									fontSize: 10
								}
							},
							dataset: {
								source: this.source
							},
							xAxis: [{
								type: 'category',
								axisTick: {
									show: false
								},
								name: '線別',
								axisLabel: {
									//interval: 0,    //强制文字产生间隔
									//rotate: 45,     //文字逆时针旋转45°
								},
							}],
							yAxis: [{
								type: 'value',
							}],
							series: [{
									name: '總計劃',
									type: 'line',
									barGap: 0,
									itemStyle: {
										normal: {
											label: {
												show: false, //开启显示
												position: 'top', //在上方显示
												textStyle: { //数值样式
													color: 'gray',
													fontSize: 12
												},
											},
											lineStyle: {
												// color: 'darkorange'
											}
										}
									},
									seriesLayoutBy: 'row',
								},
								{
									name: '計劃',
									type: 'bar',
									barGap: 0,
									itemStyle: {
										normal: {
											label: {
												show: false, //开启显示
												position: 'inside', //在上方显示
												rotate: 90,
												textStyle: { //数值样式
													color: 'white',
													fontSize: 12,
												},
											}
										}
									},
									seriesLayoutBy: 'row',
								},
								{
									name: '實績',
									type: 'bar',
									stack: '隱藏',
									itemStyle: {
										normal: {
											color: function(params) {
												console.log('比對: ', params.data[3], params.data[2], params.data[3] < params.data[2])
												if (params.data[3] < params.data[2]) {
													return '#e5323e'
												} else {
													return '#5fb878'
												}
											},
											label: {
												show: false, //开启显示
												rotate: 90,
												position: 'inside', //在上方显示
												textStyle: { //数值样式
													color: 'white',
													fontSize: 12
												},
											}
										}
									},
									seriesLayoutBy: 'row',
								},
								{
									name: '差異',
									type: 'bar',
									stack: '隱藏',
									itemStyle: {
										normal: {
											color: 'rgba(237,125,49, 0.0)',
											label: {
												show: 0, //开启显示
												position: 'insideBottom', //在上方显示
												textStyle: { //数值样式
													color: 'black',
													fontSize: 12
												},
												formatter: function(a) {
													return a.value;
												}
											}
										}
									},
									seriesLayoutBy: 'row',
								},
								{
									name: '實績(達成)',
									type: "bar",
									stack: '隱藏',
									data: []
								},
								{
									name: '實績(未達成)',
									type: "bar",
									stack: '隱藏',
									data: []
								},

							]
						};
					},
				},
				watch:{
					machine_data: function() {
						this.set_source()
					}
				},
				methods: {
					get_machine_data: function(element, index, array) {
						for (var i = 0; i < this.machine_data.length; i++) {
							if (this.machine_data[i]['machine_name'] == element) {
								return this.machine_data[i]
							}
						}
						return {
							machine_name: element,
							machine_state: 0,
							QcTolCnt: 0,
							building: 'A18'
						}
					},
					set_source : function() {
						var data = this.machine_array.map(this.get_machine_data)
						console.log('source')
						console.log(data)
						var temp_source = [['machine'], ['total'], ['target'], ['real'], ['difference']]
						for (var i=0; i<data.length; i++){
							temp_source[0].push(data[i].machine_name)
							temp_source[1].push(data[i].amount)
							temp_source[2].push(data[i].target)
							temp_source[3].push(parseInt(data[i].QcTolCnt))
							temp_source[4].push(data[i].diff)
						}
						this.source = temp_source
						console.log(this.source)
						this.chart.setOption(this.option, true)
					}
				},
				mounted() {
					this.set_source()
				},
				updated: function() {
					console.log('update')
				}
			})
			var A18 = new Vue({
				delimiters: ['{[', ']}'],
				el: '#A18',
				data: {
					time: '',
					machine_data: [],
					chart_name: ['B'],
					states: {
						offline: 0,
						standby: 0,
						online: 0,
						alarm: 0,
					}
				},
				watch: {
					machine_data: function(val) {
						console.log('watch machine_data')
						var offline = 0
						var standby = 0
						var online = 0
						var alarm = 0
						for (var i=0; i<this.machine_data.length; i++){
							var state = this.machine_data[i].machine_state
							if (state === 0){
								offline++
							}else if (state === 1){
								standby++
							}else if (state === 2){
								online++
							}else if (state === 3){
								alarm++
							}else{
								console.log('WTH')
							}
						}
						this.states.offline=offline
						this.states.standby=standby
						this.states.online=online
						this.states.alarm=alarm
						
					}
				},
				computed: {
					infos: function() {
						console.log('infos computed')
						var A1 = A1_list.map(this.set_machine)
						var A2 = A2_list.map(this.set_machine)
						var B1 = B1_list.map(this.set_machine)
						var B2 = B2_list.map(this.set_machine)
						var C1 = C1_list.map(this.set_machine)
						var C2 = C2_list.map(this.set_machine)
						var D1 = D1_list.map(this.set_machine)
						var D2 = D2_list.map(this.set_machine)
						return {
							A1: A1,
							A2: A2,
							B1: B1,
							B2: B2,
							C1: C1,
							C2: C2,
							D1: D1,
							D2: D2
						}
					},
					
				},
				methods: {
					set_machine: function(element, index, array) {
						for (var i = 0; i < this.machine_data.length; i++) {
							if (this.machine_data[i]['machine_name'] == element) {
								return this.machine_data[i]
							}
						}
						return {
							machine_name: element,
							machine_state: 0,
							QcTolCnt: 0,
							building: 'A18',
							CstAvgTime: 0,
							amount: 0,
							diff: 0,
							target: 0
						}
					}
				} 
			})
			var get_query = function(query_post) {
				$.ajax({
					url: '{{url_for('production.ajax_get_machine_state')}}',
					type: 'GET',
					dataType: 'json',
					timeout: 20000,
					error: function(XMLHttpRequest, textStatus, errorThrown) {
					},
					success: function(res) {

						console.log('獲取不良統計')
						console.log(res)
						A18.time = res['time']
						A18.machine_data = res['result']
						console.log(A18.infos)
					}
				})
			}
			get_query()
			setInterval(get_query, 40000)
		</script>
	</body>
</html>