<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>後段需求</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="static/js/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="static/css/mask.css" media="all">
		<!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
		<style>
			.input {
				width: 90px !important;
			}
			.cal-bom {
				display: inline-block;
				padding: 4px;
				border: 1px solid gray;
				height: 60px;
				vertical-align: middle;
			}
			.cal-bom:hover {
				background: #DBF1FF;
			}
			.bom {
				display: inline-block;
				margin-right: 10px;
				/* height: 40px; */
				/* border: 1px solid black; */
				width: 300px;
				text-align: right;
				vertical-align: center;
			}
			.bom-input {
				width: 90px !important;
				margin-right: 10px;
				/* height: 40px; */
				/* border: 1px solid black; */
				text-align: center;
				display: inline-block;
				vertical-align: center;
			}
			.pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
			.string { color: green; }
			.number { color: darkorange; }
			.boolean { color: blue; }
			.null { color: magenta; }
			.key { color: red; }
		</style>
	</head>
	<body>
		<div id="vm">
			<div>
				<fieldset class="layui-elem-field layui-field-title">
					<legend style="font-weight:bold"><span style="font-size: 1.5rem;">後段需求</span></legend>
				</fieldset>
			</div>
			<vue-date @get_date="get_date" style="display: inline-block;"></vue-date>
			<button @click="upload_open">確認</button>
			<input type="checkbox" id="checkbox" v-model="auto_suggestion" />
			<label for="checkbox">自動推薦</label>
			<vue-product-input @get_product_amount="get_product_amount" @get_bom="get_bom"></vue-product-input>
			<vue-machine-opening 
				:dates="dates"
				:boms="boms"
				:product_amount="product_amount" 
				:product_name="product_name" 
				@get_open_data="get_open_data"
			></vue-machine-opening> 
			<vue-result v-if="result" :result_data="result_data" @close="result_close"></vue-result>

		</div>
		<script src="static/js/vue.js"></script>
		<script src="static/js/layui/layui.all.js" charset="utf-8"></script>
		<script src="static/js/jquery-3.3.1.min.js" charset="utf-8"></script>
		<script src="static/js/moment.js" charset="utf-8"></script>
		<script>
			var layer
			layui.use(['layer'], function(){
				layer = layui.layer
			})
			Vue.component('vue-date', {
				template: '<div class="layui-form-item">\
						<label class="layui-form-label">日期</label>\
						<div class="layui-input-inline">\
							<input type="text" name="date" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">\
						</div>\
						<div class="layui-input-inline input">\
							<input v-model="date.d0" disabled class="layui-input">\
						</div>\
						<div class="layui-input-inline input">\
							<input v-model="date.d1" disabled class="layui-input">\
						</div>\
						<div class="layui-input-inline input">\
							<input v-model="date.d2" disabled class="layui-input">\
						</div>\
						<div class="layui-input-inline input">\
							<input v-model="date.d3" disabled class="layui-input">\
						</div>\
						<div class="layui-input-inline input">\
							<input v-model="date.d4" disabled class="layui-input">\
						</div>\
						<div class="layui-input-inline input">\
							<input v-model="date.d5" disabled class="layui-input">\
						</div>\
						<div class="layui-input-inline input">\
							<input v-model="date.d6" disabled class="layui-input">\
						</div>\
					</div>',
				delimiters: ['{[', ']}'],
				data: function() {
					return {
						date: {
							d0: '',
							d1: '',
							d2: '',
							d3: '',
							d4: '',
							d5: '',
							d6: '',
						}
					}
				},
				mounted: function() {
					var laydate = layui.laydate;
					var vm1 = this
					laydate.render({
						elem: '#date',
						done: function(value, date, endDate) {
							console.log(value); //得到日期生成的值，如：2017-08-18
							vm1.date.d0 = value
							vm1.date.d1 = moment(value, "YYYY-MM-DD").add(1, 'days').format("YYYY-MM-DD")
							vm1.date.d2 = moment(value, "YYYY-MM-DD").add(2, 'days').format("YYYY-MM-DD")
							vm1.date.d3 = moment(value, "YYYY-MM-DD").add(3, 'days').format("YYYY-MM-DD")
							vm1.date.d4 = moment(value, "YYYY-MM-DD").add(4, 'days').format("YYYY-MM-DD")
							vm1.date.d5 = moment(value, "YYYY-MM-DD").add(5, 'days').format("YYYY-MM-DD")
							vm1.date.d6 = moment(value, "YYYY-MM-DD").add(6, 'days').format("YYYY-MM-DD")
							vm1.$emit('get_date', vm1.date)
						}
					});
				}
			})

			Vue.component('vue-product-input', {
				template: '<div class="layui-form-item">\
							<vue-product_list @get_product="get_product"></vue-product_list>\
							<vue-input v-for="day in days" :day="day" @input="input" :init_input="init_input"></vue-input>\
						</div>',
				delimiters: ['{[', ']}'],
				data: function() {
					return {
						days: ['d0', 'd1', 'd2', 'd3', 'd4', 'd5', 'd6'],
						product_name: null,
						init_input: 0
					}
				},
				methods: {
					get_amount: function() {

					},
					get_product: function(data, product_name) {
						console.log(data)
						this.product_name = product_name
						this.$emit('get_bom', data, product_name)
						this.init_input = this.init_input ? 0 : 1
					},
					input: function(data, day) {
						this.$emit('get_product_amount', data, day)
					}
				}
			})
			Vue.component('vue-product_list', {
				template: '<div>\
					<label class="layui-form-label">產品名稱</label>\
					<div v-if="show" class="layui-input-inline">\
						<select v-model="product_select" @change="ajax_get_bom($event)" class="layui-input">\
							<optgroup v-for="(group, name) in product_list" :label="name">\
								<option v-for="option in group" :value="option">\
									{[option]}\
								</option>\
							</optgroup>\
						</select>\
					</div>\
				</div>',
				delimiters: ['{[', ']}'],
				data: function() {
					return {
						product_list: '',
						product_select: '',
						show: 0
					}
				},
				mounted: function() {
					this.ajax_product_list()
				},
				methods: {
					ajax_product_list: function() {
						var vm2 = this
						$.ajax({
							url: '{{url_for('schedule.ajax_product_list')}}',
							type: "GET",
							dataType: 'json',
							success: function(res) {
								console.log('獲取產品列表')
								console.log(res)
								vm2.product_list = res
								vm2.show = 1
							}
						})
					},
					ajax_get_bom: function(event) {
						console.log(event.target.value)
						var vm1 = this

						$.ajax({
							url: '{{url_for('schedule.ajax_get_available_bom')}}',
							type: "POST",
							data: JSON.stringify({
								'product_name': event.target.value
							}),
							dataType: 'json',
							success: function(res) {
								console.log('獲取Bom')
								console.log(res)
								var product = {}
								product[event.target.value] = res
								vm1.$emit('get_product', product, event.target.value)
							}
						})
					}
				}
			})
			Vue.component('vue-input', {
				template: '<div class="layui-input-inline input">\
							<input v-model.number="input" class="layui-input">\
						</div>',
				delimiters: ['{[', ']}'],
				props: ['day', "init_input"],
				data: function() {
					return {
						input: ''
					}
				},
				watch: {
					input: function(val) {
						if (typeof(val) == 'string') {
							layer.msg('請輸入數字')
						}
						this.$emit('input', val, this.day)
					},
					init_input: function(val) {
						console.log('init')
						console.log(val)
						this.input = ''
					}
				}
			})

			Vue.component('vue-machine-opening', {
				template: '<div>\
						<div v-if="show">\
							<vue-cal-bom \
								v-for="bom in boms" \
								:dates="dates"\
								:bom="bom" \
								:product_amount="amount" \
								@get_bom_open_data="get_bom_open_data">\
							</vue-cal-bom>\
						</div>\
					</div>',
				delimiters: ['{[', ']}'],
				props: ['boms', 'product_amount', 'product_name', 'dates'],
				data: function() {
					return {
						opening: {d0: {}, d1: {}, d2: {}, d3: {}, d4: {}, d5: {}, d6: {}},
						show: 1
					}
				},
				computed: {
					amount: function() {
						return this.product_amount
					}
				},
				watch: {
					product_name: function(val) {
						this.show = 0
						this.show = 1
						for (var keys0 in this.opening) {
							this.opening[keys0] = {}
						}
					}
				},
				methods: {
					get_bom_open_data: function(open) {
						for (keys in open) {
							if (Object.keys(open[keys])[0]) {
								this.opening[keys][Object.keys(open[keys])[0]] = open[keys][Object.keys(open[keys])[0]]
							}
						}
						this.$emit('get_open_data', this.opening)
					}
				}
			})
			Vue.component('vue-cal-bom', {
				template: '<div>\
					<div class="cal-bom">\
						<vue-bom :bom="bom"></vue-bom>\
						<vue-machine-num \
							v-for="day in days" \
							:dates="dates" \
							:day="day" :bom="bom" \
							:product_amount="product_amount[day]" \
							@revise_open="get_open">\
						</vue-machine-num>\
					</div>\
				</div>',
				delimiters: ['{[', ']}'],
				props: ['bom', 'product_amount', 'dates'],
				data: function() {
					return {
						days: ['d0', 'd1', 'd2', 'd3', 'd4', 'd5', 'd6'],
						opening: {d0: {}, d1: {}, d2: {}, d3: {}, d4: {}, d5: {}, d6: {}},
					}
				},
				watch: {
					bom: function(val) {
						for (var keys0 in this.opening) {
							this.opening[keys0] = {}
						}
					}
				},
				methods: {
					get_open: function(day, open_num, revise_open_num) {
						this.opening[day][this.bom.part_number] = {
							inj_product_name: this.bom.inj_product_name,
							bom: this.bom,
							open_num: open_num,
							demand_amount: this.bom.std_produce * open_num,
							revise_open_num: revise_open_num,
							revise_amount: this.bom.std_produce * revise_open_num,
							stack: '',
						}
						console.log(this.opening[day][this.bom.part_number])
						this.$emit('get_bom_open_data', this.opening)

					}
				}
			})
			Vue.component('vue-bom', {
				template: '<div class="bom">\
					<div class="layui-row">\
						<div class="layui-col-xs8">\
							{[bom.inj_product_name]}\
						</div>\
						<div class="layui-col-xs4">\
							{[bom.piece]}pics\
						</div>\
					</div>\
					<div class="layui-row">\
						<div class="layui-col-xs8">\
							{[bom.part_number]}\
						</div>\
						<div class="layui-col-xs4">\
							{[bom.std_produce]}\
						</div>\
					</div>\
				</div>',
				delimiters: ['{[', ']}'],
				props: ['bom'],
			})
			Vue.component('vue-machine-num', {
				template: '<div class="bom-input">\
					<div class="layui-row">\
						<div>{[demand_amount?demand_amount:store_open_num.revise_amount||0]}</div>\
					</div>\
					<div class="layui-row">\
						<div class="layui-col-sm6">{[store_open_num.revise_open_num||0]}</div>\
						<div class="layui-col-sm6" style="background: lightgreen">{[store_open_num.scheduled_num||0]}</div>\
					</div>\
					<div class="layui-row">\
						<input v-model.number="revise_open_num" type="number" style="width: 90%; text-align: center;"></input>		\
						<div v-if="0">{[open_num]}{[revise_open_num]}</div>\
					</div>\
				</div>',
				delimiters: ['{[', ']}'],
				props: ['bom', 'product_amount', 'day', 'dates'],
				data: function() {
					return {
						revise_open_num: '',
						open_num: 0
					}
				},
				inject: ['store'],
				computed: {
// 					open_num: function() {
// 						if (this.store_open_num){
// 							console.log(this.store_open_num.open_num)
// 							var te = this.store_open_num.open_num
// 							return te
// 						}
// 						if (this.demand_amount != 0){
// 							console.log(this.demand_amount)
// 
// 							return Math.ceil(this.demand_amount / this.bom.std_produce)
// 						}else{
// 							return 0
// 						}
// 					},
					demand_amount: function() {
						this.open_num = Math.ceil(this.product_amount*this.bom.piece / this.bom.std_produce)
						return this.product_amount*this.bom.piece
					},
					store_open_num: function() {
						try{
							var temp = this.store.store_open_num[this.dates[this.day]][this.bom.part_number]
							console.log('here')
							console.log(temp)
							this.open_num = temp['open_num']

							this.revise_open_num = (temp['revise_open_num']-temp['scheduled_num']<0)?0:temp['revise_open_num']-temp['scheduled_num']
							
							return this.store.store_open_num[this.dates[this.day]][this.bom.part_number]||0
						}
						catch(e){
							console.log('something wrong with store_open_num')
							return 0
						}
					}
				},
				watch: {
					bom: function(){
						this.revise_open_num = 0
					},
					open_num: function(val) {
						if (this.store_open_num.scheduled_num){
							this.revise_open_num = val-this.store_open_num.scheduled_num
						}else{
							this.revise_open_num = val
						}
						this.$emit('revise_open', this.day, this.open_num, this.revise_open_num)
					},
					revise_open_num: function(val) {
						if (typeof(val) == 'string') {
							layer.msg('請輸入數字')
						}else{
							this.$emit('revise_open', this.day, this.open_num, this.revise_open_num)
						}
					},
				},
				mounted: function() {
					this.$emit('revise_open', this.day, 0, 0)
				},
			})
			Vue.component('vue-result', {
				template: '<div class="modal-mask" v-on:click="">\
					<div class="modal-wrapper">\
						<div class="modal-container">\
							<form class="modal-body" method="POST">\
								<textarea name="result" v-model="result" readonly="readonly" class="modal-body"></textarea>\
								<input v-show="show" type="submit" value="確認提交">\
								<input @click="$emit(\'close\')" type="button" value="取消">\
							</form>\
							<div class="pre"><p v-html="debug"></p></div>\
						</div>\
					</div>\
				</div>',
				props: ['result_data'],
				delimiters: ['{[', ']}'],
				data: function() {
					return {
						show: 0
					}
				},
				computed: {
					result: function() {
						if (JSON.stringify(this.result_data)!=JSON.stringify('loading...')){
							this.show = 1
						}
						return JSON.stringify(this.result_data, undefined, 4)
					},
					debug: function() {
						var json = JSON.stringify(this.result_data, undefined, 4)

						json = json.replace(/&/g, '&').replace(/</g, '<').replace(/>/g, '>');
						return json.replace(
							/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g,
							function(match) {
								var cls = 'number';
								if (/^"/.test(match)) {
									if (/:$/.test(match)) {
										cls = 'key';
									} else {
										cls = 'string';
									}
								} else if (/true|false/.test(match)) {
									cls = 'boolean';
								} else if (/null/.test(match)) {
									cls = 'null';
								}
								return '<span class="' + cls + '">' + match + '</span>';
							}
						);
					}
				},
				methods: {
					redirect: function() {

					}
				}
			})
			var vm = new Vue({
				delimiters: ['{[', ']}'],
				el: '#vm',
				data: {
					dates: null,
					product_amount: {d0:'', d1:'', d2:'', d3:'', d4:'', d5:'', d6:''},
					boms: null,
					product_name: null,
					opening: {keys: 0},
					upload_data: null,
					result: 0,
					result_data: 'loading...',
					auto_suggestion: false,
					store_open_num: '',
				},
				provide: function(){
					return{
						store: this
					}

				},
				methods: {
					add_product: function() {
						return
					},
					get_date: function(data) {
						this.dates = data
						var vm1 = this
						$.ajax({
							url: '{{url_for('schedule.ajax_get_store_open_num')}}',
							type: "POST",
							data: JSON.stringify(data),
							dataType: 'json',
							success: function(res) {
								console.log('上傳成功')
								console.log(res)
								vm1.store_open_num = res
							}
						})
					},
					get_bom: function(data, product_name) {
						this.boms = data[product_name]
						this.product_amount = {d0:'', d1:'', d2:'', d3:'', d4:'', d5:'', d6:''}
						this.product_name = product_name
						for (var keys in this.opening) {
							this.opening[keys] = {}
						}
						console.log('get_bom')
					},
					get_product_amount: function(data, day) {
						this.product_amount[day] = data
					},
					get_open_data: function(val) {
						this.opening = Object.assign(this.opening, val)
						this.opening.keys = this.opening.keys ? 0 : 1
					},
					upload_open: function() {
						var vm1 = this
						layer.open({
							title: '確認提交',
							content: '',
							btn: ['確認', '取消'],
							btn1: function(index, layero) {
								vm1.upload_data = {}
								vm1.upload_data[vm1.product_name] = {
									open_data: vm1.opening,
									product_amount: vm1.product_amount,
									dates: vm1.dates,
									auto_suggestion: vm1.auto_suggestion
								}
								if (!vm1.dates) {
									layer.msg('請選擇日期')
									layer.close(index);
									return
								}
								vm1.result = 1
								console.log(vm1.upload_data)
								$.ajax({
									url: '{{url_for('schedule.ajax_demand_upload')}}',
									type: "POST",
									data: JSON.stringify(vm1.upload_data),
									dataType: 'json',
									error: function() {
										layer.msg('失敗!')
									},
									success: function(res) {
										console.log('上傳成功')
										console.log(res)
										layer.msg('上傳成功')

										vm1.result_data = res.auto_schedule
									}
								})
								layer.close(index);
							},
							btn2: function(index, layero) {

							},
							cancel: function() {
								//右上角关闭回调
							}
						})
					},
					result_close: function() {
						this.result = 0
						this.result_data= 'loading...'
					}
				},
				updated: function() {

				}
			})
		</script>

	</body>
</html>
