<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>後段需求</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="static/js/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="static/css/mask.css" media="all">
		<!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
		<style>
			.input {
				width: 90px !important;
			}
			.cal-bom {
				display: inline-block;
				padding: 4px;
				border: 1px solid gray;
				height: 60px;
				vertical-align: middle;
			}
			.cal-bom:hover {
				background: #DBF1FF;
			}
			.bom {
				display: inline-block;
				margin-right: 10px;
				/* height: 40px; */
				/* border: 1px solid black; */
				width: 300px;
				text-align: right;
				vertical-align: center;
			}
			.bom-input {
				width: 90px !important;
				margin-right: 10px;
				/* height: 40px; */
				/* border: 1px solid black; */
				text-align: center;
				display: inline-block;
				vertical-align: center;
			}
			.pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
			.string { color: green; }
			.number { color: darkorange; }
			.boolean { color: blue; }
			.null { color: magenta; }
			.key { color: red; }
		</style>
	</head>
	<body>
		<div id="vm">
			<div>
				<fieldset class="layui-elem-field layui-field-title">
					<legend style="font-weight:bold"><span style="font-size: 1.5rem;">後段需求</span></legend>
				</fieldset>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">日期</label>
				<div class="layui-input-inline">
					<input type="text" name="date" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
				</div>
				<div class="layui-input-inline input">
					<input v-model="date.d0" disabled class="layui-input">
				</div>
				<div class="layui-input-inline input">
					<input v-model="date.d1" disabled class="layui-input">
				</div>
				<div class="layui-input-inline input">
					<input v-model="date.d2" disabled class="layui-input">
				</div>
				<div class="layui-input-inline input">
					<input v-model="date.d3" disabled class="layui-input">
				</div>
				<div class="layui-input-inline input">
					<input v-model="date.d4" disabled class="layui-input">
				</div>
				<div class="layui-input-inline input">
					<input v-model="date.d5" disabled class="layui-input">
				</div>
				<div class="layui-input-inline input">
					<input v-model="date.d6" disabled class="layui-input">
				</div>
				<button @click="upload_open">確認</button>
				<input type="checkbox" id="checkbox" v-model="auto_suggestion" />
				<label for="checkbox">自動推薦</label>
			</div>
			
			<div class="layui-form-item">
				<div>
					<label class="layui-form-label">產品名稱</label>
					<div class="layui-input-inline">
						<select v-model="product_selected" @change="ajax_get_bom($event)" class="layui-input">
							<optgroup v-for="(group, name) in product_list" :label="name">
								<option v-for="option in group" :value="option">
									{[option]}
								</option>
							</optgroup>
						</select>
					</div>
				</div>
				<div v-for="(day, key) in date" class="layui-input-inline input">
					<input v-model.number="product_amount[key]" class="layui-input">
				</div>
			</div>
			<vue-machine-opening v-if="bom_show" v-for="bom in boms" :bom="bom"
				:dates="date"
				:product_amount="product_amount" 
				:product_selected="product_selected" 
				@get_open="process_open_data"
			></vue-machine-opening> 
			<vue-result v-if="result" :result_data="result_data" @close="result_close"></vue-result>

		</div>
		<script src="static/js/vue.js"></script>
		<script src="static/js/layui/layui.all.js" charset="utf-8"></script>
		<script src="static/js/jquery-3.3.1.min.js" charset="utf-8"></script>
		<script src="static/js/moment.js" charset="utf-8"></script>
		<script>
			var layer
			var laydate
			layui.use(['layer', 'laydate'], function(){
				layer = layui.layer
				laydate = layui.laydate
			})

			Vue.component('vue-machine-opening', {
				template: '<div>\
						<div>\
							<vue-bom-detail :bom="bom"></vue-bom-detail>\
							<vue-machine-num \
								v-for="(date, key) in dates" \
								:day="key" \
								:date="date" \
								:bom="bom" \
								:product_amount="product_amount[key]" \
								@revise_open="get_open">\
							</vue-machine-num>\
						</div>\
					</div>',
				delimiters: ['{[', ']}'],
				props: ['bom', 'product_amount', 'dates'],
				data: function() {
					return {
						open: {},
					}
				},
				methods: {
					get_open: function(day, open_num, revise_open_number) {
						this.open[day] = {}
						this.open[day]["inj_product_name"] = this.bom.inj_product_name
						this.open[day]["open_num"] = open_num
						this.open[day]["demand_amount"] = this.product_amount[day]*this.bom.piece
						this.open[day]["revise_open_num"] = revise_open_number
						this.open[day]["revise_amount"] = this.bom.std_produce*revise_open_number
						this.open[day]["stack"] = ''
						this.open[day]["bom"] = this.bom
						console.log('happen')
						this.$emit('get_open',this.open)

					}
				}
			})
			Vue.component('vue-bom-detail', {
				template: '<div class="bom">\
					<div class="layui-row">\
						<div class="layui-col-xs8">\
							{[bom.inj_product_name]}\
						</div>\
						<div class="layui-col-xs4">\
							{[bom.piece]}pics\
						</div>\
					</div>\
					<div class="layui-row">\
						<div class="layui-col-xs8">\
							{[bom.part_number]}\
						</div>\
						<div class="layui-col-xs4">\
							{[bom.std_produce]}\
						</div>\
					</div>\
				</div>',
				delimiters: ['{[', ']}'],
				props: ['bom'],
			})
			Vue.component('vue-machine-num', {
				template: '<div class="bom-input">\
					<div class="layui-row">\
						<div>{[demand_amount?demand_amount:stored_open?stored_open.revise_amount:0]}</div>\
					</div>\
					<div class="layui-row">\
						<div class="layui-col-sm6">{[stored_open?stored_open.revise_open_num?stored_open.revise_open_num:0:0]}</div>\
						<div class="layui-col-sm6" style="background: lightgreen">{[stored_open?stored_open.scheduled_num:0]}</div>\
					</div>\
					<div class="layui-row">\
						<input v-model.number="revise_open_num" type="number" style="width: 90%; text-align: center;"></input>		\
					</div>\
				</div>',
				delimiters: ['{[', ']}'],
				props: ['bom', 'product_amount', 'day', 'date'],
				data: function() {
					return {
						revise_open_num: 0,
						// open_num: 0
					}
				},
				inject: ['store'],
				computed: {
					demand_amount: function() {
						// this.open_num = Math.ceil(this.product_amount*this.bom.piece / this.bom.std_produce)
						return this.product_amount*this.bom.piece
					},
					open_num: function() {
						return Math.ceil(this.product_amount*this.bom.piece / this.bom.std_produce)
					},
					stored_open: function() {
						try{
							return this.store.stored_open[this.date][this.bom.part_number]
						}
						catch(e){
							console.log('No stored open or No choose dates')
							return null
						}
					}
				},
				watch: {
					bom: function(){
						this.revise_open_num = 0
					},
					open_num: function(val) {
						if (this.stored_open){
							this.revise_open_num = val-this.stored_open.scheduled_num
						}else{
							this.revise_open_num = val
						}
						// this.$emit('revise_open', this.day, this.open_num, this.revise_open_num)
					},
					revise_open_num: function(val) {
						if (typeof(val) == 'string') {
							layer.msg('請輸入數字')
						}else{
							this.$emit('revise_open', this.day, this.open_num, this.revise_open_num)
						}
					},
				},
			})
			Vue.component('vue-result', {
				template: '<div class="modal-mask" v-on:click="">\
					<div class="modal-wrapper">\
						<div class="modal-container">\
							<form class="modal-body" method="POST">\
								<textarea name="result" v-model="result" readonly="readonly" class="modal-body"></textarea>\
								<input v-show="show" type="submit" value="確認提交">\
								<input @click="$emit(\'close\')" type="button" value="取消">\
								<input type="checkbox" name="store_backend_demand" v-model="store_backend_demand">\
								<label for="checkbox">儲存需求</label>\
							</form>\
							<div class="pre"><p v-html="debug"></p></div>\
						</div>\
					</div>\
				</div>',
				props: ['result_data'],
				delimiters: ['{[', ']}'],
				data: function() {
					return {
						show: 0,
						store_backend_demand: false
					}
				},
				computed: {
					result: function() {
						if (JSON.stringify(this.result_data)!=JSON.stringify('loading...')){
							this.show = 1
						}
						return JSON.stringify(this.result_data, undefined, 4)
					},
					debug: function() {
						var json = JSON.stringify(this.result_data, undefined, 4)

						json = json.replace(/&/g, '&').replace(/</g, '<').replace(/>/g, '>');
						return json.replace(
							/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g,
							function(match) {
								var cls = 'number';
								if (/^"/.test(match)) {
									if (/:$/.test(match)) {
										cls = 'key';
									} else {
										cls = 'string';
									}
								} else if (/true|false/.test(match)) {
									cls = 'boolean';
								} else if (/null/.test(match)) {
									cls = 'null';
								}
								return '<span class="' + cls + '">' + match + '</span>';
							}
						);
					}
				},
				methods: {
					redirect: function() {

					}
				}
			})
			var vm = new Vue({
				delimiters: ['{[', ']}'],
				el: '#vm',
				data: {
					date: {d0:'', d1:'', d2:'', d3:'', d4:'', d5:'', d6:''},
					product_list: '',
					product_selected: '',
					product_amount: {d0:'', d1:'', d2:'', d3:'', d4:'', d5:'', d6:''},
					boms: null,
					opening: {keys: 0},
					upload_data: null,
					result: 0,
					result_data: 'loading...',
					auto_suggestion: false,
					stored_open: null,
					bom_show: 1,
					open_data: {},
				},
				provide: function(){
					return{
						store: this
					}
				},
				mounted: function() {
					var vm1 = this
					laydate = layui.laydate
					laydate.render({
						elem: '#date',
						done: function(value, date, endDate) {
							console.log(value); //得到日期生成的值，如：2017-08-18
							vm1.date.d0 = value
							vm1.date.d1 = moment(value, "YYYY-MM-DD").add(1, 'days').format("YYYY-MM-DD")
							vm1.date.d2 = moment(value, "YYYY-MM-DD").add(2, 'days').format("YYYY-MM-DD")
							vm1.date.d3 = moment(value, "YYYY-MM-DD").add(3, 'days').format("YYYY-MM-DD")
							vm1.date.d4 = moment(value, "YYYY-MM-DD").add(4, 'days').format("YYYY-MM-DD")
							vm1.date.d5 = moment(value, "YYYY-MM-DD").add(5, 'days').format("YYYY-MM-DD")
							vm1.date.d6 = moment(value, "YYYY-MM-DD").add(6, 'days').format("YYYY-MM-DD")
							vm1.get_date(vm1.date)
						}
					})
					$.ajax({
						url: '{{url_for('schedule.ajax_product_list')}}',
						type: "GET",
						dataType: 'json',
						success: function(res) {
							console.log('獲取產品列表')
							console.log(res)
							vm1.product_list = res
						}
					})
				},
				methods: {
					ajax_get_bom: function(event) {
						console.log(event.target.value)
						var vm1 = this
						this.bom_show = 0
						this.open_data = {}
						$.ajax({
							url: '{{url_for('schedule.ajax_get_available_bom')}}',
							type: "POST",
							data: JSON.stringify({
								'product_name': event.target.value
							}),
							dataType: 'json',
							success: function(res) {
								console.log('獲取Bom')
								console.log(res)
								vm1.boms = res
								vm1.product_amount = {d0:'', d1:'', d2:'', d3:'', d4:'', d5:'', d6:''}
								vm1.bom_show = 1
							}
						})
					},
					get_date: function(data) {
						var vm1 = this
						$.ajax({
							url: '{{url_for('schedule.ajax_get_store_open_num')}}',
							type: "POST",
							data: JSON.stringify(data),
							dataType: 'json',
							success: function(res) {
								console.log('取得已儲存後端需求')
								console.log(res)
								vm1.stored_open = res
							}
						})
					},
					process_open_data: function(val) {
						console.log('process_open_data')
						console.log(val)
						for (key in val){
							console.log(key)
							if (key in this.open_data){
								this.open_data[key][val[key].bom.part_number] = val[key]
								this.open_data[key][val[key].bom.part_number] = val[key]
							}else {
								this.open_data[key] = {}
								this.open_data[key][val[key].bom.part_number] = val[key]
							}
						}
					},
					upload_open: function() {
						var vm1 = this
						layer.open({
							title: '確認提交',
							content: '',
							btn: ['確認', '取消'],
							btn1: function(index, layero) {
								vm1.upload_data = {}
								vm1.upload_data[vm1.product_selected] = {
									open_data: vm1.open_data,
									product_amount: vm1.product_amount,
									dates: vm1.date,
									auto_suggestion: vm1.auto_suggestion
								}
								if (!vm1.date.d0 || !vm1.product_selected) {
									layer.msg('請選擇日期&產品')
									layer.close(index);
									return
								}
								vm1.result = 1
								console.log(vm1.upload_data)
								$.ajax({
									url: '{{url_for('schedule.ajax_demand_upload')}}',
									type: "POST",
									data: JSON.stringify(vm1.upload_data),
									dataType: 'json',
									error: function() {
										layer.msg('失敗!')
									},
									success: function(res) {
										console.log('上傳成功')
										console.log(res)
										layer.msg('上傳成功')

										vm1.result_data = res.auto_schedule
									}
								})
								layer.close(index);
							},
							btn2: function(index, layero) {

							},
							cancel: function() {
								//右上角关闭回调
							}
						})
					},
					result_close: function() {
						this.result = 0
						this.result_data= 'loading...'
					}
				},
				
			})
		</script>

	</body>
</html>
