<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="static/js/jquery-3.3.1.min.js"></script>
		<script src="static/js/bootstrap-table.min.js"></script>
		<script src="static/js/moment.js"></script>
		<script src="static/js/layui/layui.js"></script>
		<link href="static/css/bootstrap-table.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href="static/js/layui/css/layui.css" media="all">

	</head>
	<body>
		<fieldset class="layui-elem-field layui-field-title">
			<legend style="font-weight:bold">
				<span style="font-size: 1.5rem;">生管發料</span>
			</legend>
		</fieldset>
		<div style="padding: 0px 30px;">
			<form>
				<div class="form-group row">
					<label for="building" class="col-sm-1 col-form-label">棟別</label>
					<div class="col-sm-2">
						<select class="form-control" id="building">
							<option value="A18">A18</option>
						</select>
					</div>
					<label for="building" class="col-sm-1 col-form-label">日期</label>
					<input id="date" class="form-control col-sm-2" value="2020-01-10" disabled />
				</div>
				
			</form>
			<table id="table">
			
			</table>
		</div>
		

		<script>
			var layer
			var time
			layui.use(['layer'], function(){
				layer = layui.layer
			})
			var $table = $('#table')
			$.ajax({
				url: '/ajax_get_time',
				type: "GET",
				dataType: 'json',
				async: false,
				success: function(res) {
					console.log(res)
					if (res.next_day){
						time = moment(res.time).subtract(1, 'days').format("YYYY-MM-DD")
						$("#date").val(time)
					}else{
						time = moment(res.time).format("YYYY-MM-DD")
						$("#date").val(time)
					}
				},
			})
			$(function() {
				$("#building").on('change', function(event){
					console.log(event.target.value)
					$table.bootstrapTable('removeAll')
					get_schedule_demand(event.target.value)
				})

				function get_schedule_demand(building){
					console.log(time)
					$.ajax({
						url: '/ajax_get_schedule_demand',
						type: "POST",
						data: JSON.stringify({
							building: building,
							date: time
						}),
						dataType: 'json',
						success: function(res) {
							console.log(res)
							$table.bootstrapTable({
								data: res,
								columns: [
									{
										title: "品名",
										field: 'inj_product_name'
									},
									{
										title: '料號',
										field: 'part_number'
									},
									{
										title: '數量(pics)',
										field: 'amount'
									},
									{
										title: '材料料號',
										field: 'material_part_number'
									},
									{
										title: '需求(kg)',
										field: 'demand_weight'
									},
									{
										title: '發料(kg)',
										field: 'dispatch_weight',
										formatter: dispatch_input,
										events: window.operateEvents
									},
									{
										title: '確認',
										field: '',
										formatter: dispatch_confirm,
										events: window.operateEvents
										
									},
									{
										title: '原料規格',
										field: 'material_spec'
									},
									{
										title: '用量(g)',
										field: 'material_weight'
									},
								]
							})
							$table.bootstrapTable('load', res)
						},
					})
				}
				get_schedule_demand('A18')
				
			})
			function dispatch_input(value, row, index){
				return '<form onsubmit="return false;"><input type="number" value="'+ value +'" class="form-control dispatch" style="width: 100px"></input></form>'
			}
			function dispatch_confirm(value, row, index){
				console.log(row.state)
				if (row.state==0){
					return [
						'<div class="row d-flex justify-content-around" style="text-align: center;">',
						'<button type="buttom" class="confirm btn btn-primary btn-sm">發料</button> &nbsp&nbsp',
						'<button type="buttom" class="cancel btn btn-secondary btn-sm" disabled>退回</button>',
						'</div>',
					].join("")
				}else if (row.state==1){
					return [
						'<div class="row d-flex justify-content-around">',
						'<button type="buttom" class="confirm btn btn-secondary btn-sm" disabled>發料</button> &nbsp&nbsp',
						'<button type="buttom" class="cancel btn btn-success btn-sm">退回</button>',
						'</div>',
					].join("")
				}else{
					return [
						'<div class="row d-flex justify-content-around">',
						'<button type="buttom" class="confirm btn btn-secondary btn-sm" disabled>發料</button> &nbsp&nbsp',
						'<button type="buttom" class="cancel btn btn-secondary btn-sm" disabled>退回</button>',
						'</div>',
					].join("")
				}
			}
			window.operateEvents = {
				'click .confirm': function(e, value, row, index){
					console.log('確認發料')
					console.log(row)
					$.ajax({
						url: '/ajax_upload_material_dispatch',
						type: "POST",
						data: JSON.stringify(row),
						dataType: 'json',
						success: function(res) {
							console.log(res)
							layer.msg(res.message)
							console.log(e)
							e.target.disabled = true
							e.target.className = 'confirm btn btn-secondary btn-sm'
							e.target.nextElementSibling.className = 'cancel btn btn-success btn-sm'
							e.target.nextElementSibling.disabled = false
						},
					})
					
				},
				'click .cancel': function(e, value, row, index){
					console.log('退回發料')
					console.log(row)
					$.ajax({
						url: '/ajax_retreat_material_dispatch',
						type: "POST",
						data: JSON.stringify(row),
						dataType: 'json',
						success: function(res) {
							console.log(res)
							layer.msg(res.message)
							e.target.disabled = true
							e.target.className = 'cancel btn btn-secondary btn-sm'
							e.target.previousElementSibling.className = 'confirm btn btn-primary btn-sm' 
							e.target.previousElementSibling.disabled = false
						},
					})
				},
				'change .dispatch': function(e, value, row, index){
					row.dispatch_weight = e.target.value
					$table.bootstrapTable('updateRow', {
						index:index,
						row: row
					})
				}
			}
		</script>
	</body>
</html>
