<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>文件上傳</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="static/js/layui/css/layui.css" media="all">
		<!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
		<style>
			#temp_schedule>div{
				text-align: center;
				font-size: 15px ;
				padding: 10px 0px;
			}
			#table {
					width: 100%;
					border-collapse: collapse;
					text-align: center;
					font-weight: bold;
					font-size: 14px ;
				}
			#table th{
				font-weight:bold;
				padding: 6px 0px;
			}
			#table tr{
				border-top: 1.5px solid dimgrey;
				border-bottom: 1.5px solid dimgray;
			}
			#table td{
				padding: 6px 0px;
			}
		</style>
	</head>
	<body>
		<div>
			<fieldset class="layui-elem-field layui-field-title">
				<legend style="font-weight:bold">
					<span style="font-size: 1.5rem;">排產計畫輸入</span>
				</legend>
			</fieldset>
		</div>
		<div>
			<form class="layui-form" action="" lay-filter='all'>
				<div class="layui-form-item">
					<label class="layui-form-label">紀錄日期</label>
					<div class="layui-input-inline">
						<input type="text" name="date" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
					</div>
					<button type="button" lay-submit lay-filter="schedule_submit" class="layui-btn layui-btn-radius ">
						確認上傳
					</button>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">產品名稱</label>
					<div class="layui-input-inline">
						<select name="product" id="product" lay-verify="required" lay-filter='select_product'>
							<option value="">請選擇</option>
							// js 新增選項
						</select>
					</div>
					<label class="layui-form-label">成型品名稱</label>
					<div class="layui-input-inline">
						<select name="inj_product_name" id="inj_product_name" lay-filter='select_inj_name' lay-verify="required">
							<option value=""></option>
						</select>
					</div>
					<label class="layui-form-label">料號</label>
					<div class="layui-input-inline">
						<input type="text" name="part_number" required lay-verify="required" placeholder="料號" autocomplete="off" class="layui-input"
						 disabled>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">工令</label>
					<div class="layui-input-inline">
						<input type="text" name="produce_order" id="produce_order" placeholder="工令" autocomplete="off" class="layui-input">
					</div>
				</div>
			</form>
		</div>
		<hr class="layui-bg-green">
		<form class="layui-form" action="" lay-filter='all_1'>
			<div class="layui-form-item">
				<label class="layui-form-label">棟別</label>
				<div class="layui-input-inline">
					<select name="building" id="building" lay-filter='select_building' lay-verify="required">
						<option value="">請選擇</option>
						<option value="A18">A18</option>
					</select>
				</div>
				<label class="layui-form-label">機台</label>
				<div class="layui-input-inline">
					<select name="machine" id="machine" lay-verify="required">
						<option value="">請選擇</option>
					</select>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">模具號</label>
				<div class="layui-input-inline">
					<select name="mold" id="mold" lay-verify="required">
						<option value=""></option>

					</select>
				</div>
				<label class="layui-form-label">數量</label>
				<div class="layui-input-inline">
					<input type="text" name="amount" id="amount_input_1" required lay-verify="number" placeholder="數量" autocomplete="off"
					 class="layui-input">
				</div>
				<div style="display: inline-block;">
					<button type="button" lay-submit lay-filter="add_submit" class="layui-btn layui-btn-radius ">
						<i class="layui-icon">&#xe654;</i>
					</button>
				</div>
				<div style="display: inline-block;">
					<button type="button" id="reset" class="layui-btn layui-btn-radius ">
						重新輸入
					</button>
				</div>
			</div>
			</div>
		</form>
		<div id="temp_schedule" style="margin-left: 40px; width: 800px;">
			<div class="layui-row" style="width: 100%;">
				<div class=" layui-col-md2" style="text-align: right">日期：</div>
				<div id="temp_date" style="text-align: left" class="layui-col-xs6 layui-col-sm6 layui-col-md2">
					<span></span>
				</div>
				<div class=" layui-col-md2" style="text-align: right">產品名稱：</div>
				<div id="product_name" style="text-align: left" class="layui-col-xs6 layui-col-sm6 layui-col-md2">
					<span></span>
				</div>
				<div class=" layui-col-md2" style="text-align: right">品名：</div>
				<div id="inj_name" style="text-align: left" class="layui-col-xs4 layui-col-sm12 layui-col-md2">
					<span></span>
				</div>
			</div>
			<div class="layui-row" style="width: 100%;">
				<div class=" layui-col-md2" style="text-align: right">料號：</div>
				<div id="temp_part_number" style="text-align: left" class="layui-col-xs4 layui-col-sm12 layui-col-md2">
					<span></span>
				</div>
				<div class=" layui-col-md2" style="text-align: right">工令：</div>
				<div id="temp_produce_order" style="text-align: left" class="layui-col-xs4 layui-col-sm12 layui-col-md2">
					<span></span>
				</div>
			</div>


		</div>
		<div id="temp_table" style="margin-left: 40px; width: 800px;">
			<table id="table">
				<tr>
					<th>機台</th>
					<th>模號</th>
					<th>數量</th>
				</tr>

			</table>
		</div>
		<hr class="layui-bg-green">

		<!--  <button type="button" class="layui-btn layui-btn-radius" id="update">確認更新</button>-->
		<div style="padding: 0px 30px;">
			<table id="demo" lay-filter="test" style="margin-left: auto; margin-right: auto"></table>
		</div>


		<script src="static/js/layui/layui.all.js" charset="utf-8"></script>
		<script src="static/js/jquery-3.3.1.min.js" charset="utf-8"></script>
		<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
		<script>
			var table = layui.table;
			var layer = layui.layer;
			var form = layui.form;
			var laydate = layui.laydate;
			var part_nuber
			laydate.render({
				elem: '#date',
				done: function(value, date, endDate) {
					console.log(value); //得到日期生成的值，如：2017-08-18
					console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
					console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
					$('#temp_date').html(value)
					get_schedule('POST', value)
				}
			});
			// ajax取得產品列表
			$.ajax({
				url: '{{url_for('schedule.ajax_product_list')}}',
				type: "GET",
				dataType: 'json',
				success: function(res) {
					console.log('獲取產品列表')
					var html = '';
					for (var key in res) {
						html = html + '<optgroup label="' + key + '">'
						for (var i = 0; i < res[key].length; i++) {
							html = html + '<option value="' + res[key][i] + '">' + res[key][i] + '</option>'
						}
						html = html + '</optgroup>'
					}
					$('#product').append(html)
					form.render(null, 'all'); //更新 lay-filter="all" 所在容器内的全部表单状态
				}
			})
			// 監聽產品名稱選單
			form.on('select(select_product)', function(data) {
				console.log(data.elem); //得到select原始DOM对象
				console.log(data.value); //得到被选中的值
				console.log(data.othis); //得到美化后的DOM对象
				$("#product_name").html(data.value)
				// 發出ajax取得產品Bom
				$.ajax({
					url: '{{url_for('schedule.ajax_bom_list')}}',
					type: "POST",
					data: JSON.stringify({
						'product_name': data.value
					}),
					dataType: 'json',
					success: function(res) {
						console.log('獲取BOM列表')
						console.log(res)
						part_nuber = res
						// 更新成型品名稱選單
						var html = '';
						for (var key in res) {
							html = html + '<option value="' + key + '">' + key + '</option>'
						}
						$("#inj_product_name").html('<option value=""></option>')
						$("#inj_product_name").append(html)
						form.render(null, 'all'); //更新 lay-filter="all" 所在容器内的全部表单状态
					}
				})
			});
			// 監聽成型品名稱選單
			form.on('select(select_inj_name)', function(data) {
				console.log(data.elem); //得到select原始DOM对象
				console.log(data.value); //得到被选中的值
				console.log(data.othis); //得到美化后的DOM对象
				$("#inj_name").html(data.value)
				//顯示料號
				form.val('all', {
					"part_number": part_nuber[data.value]
				})
				// ajax獲取模號
				$.ajax({
					url: '{{url_for('schedule.ajax_mold_list')}}',
					type: "POST",
					data: JSON.stringify({
						'part_number': part_nuber[data.value]
					}),
					dataType: 'json',
					success: function(res) {
						console.log('獲取模具品列表')
						console.log(res)
						var html = '';
						for (var key in res) {
							html = html + '<option value="' + key + '">' + key + ' ' + res[key] + '</option>'
						}
						$('#mold').html('<option value=""></option>')
						$('#mold').append(html)
						form.render(null, 'all_1'); //更新 lay-filter="all" 所在容器内的全部表单状态
					}
				})
				$('#temp_part_number').html(part_nuber[data.value])
			})
			// 同步工令顯示
			var order = document.getElementById('produce_order')
			order.oninput = function() {
				$('#temp_produce_order').html(order.value);
			}
			// ajax取得機台列表
			form.on('select(select_building)', function(data) {
				console.log(data.elem); //得到select原始DOM对象
				console.log(data.value); //得到被选中的值
				console.log(data.othis); //得到美化后的DOM对象
				$.ajax({
					url: '{{url_for('schedule.ajax_machine_list')}}',
					type: "POST",
					data: JSON.stringify({
						'building': data.value
					}),
					dataType: 'json',
					success: function(res) {
						console.log('獲取機台列表')
						// console.log(res)
						var html = '';
						for (var key in res) {
							html = html + '<optgroup label="' + key + '">'
							for (var i = 0; i < res[key].length; i++) {
								html = html + '<option value="' + res[key][i] + '">' + res[key][i] + '</option>'
							}
							html = html + '</optgroup>'
						}
						$('#machine').html('<option value="">請選擇</option>')
						$('#machine').append(html)
						form.render(null, 'all_1'); //更新 lay-filter="all" 所在容器内的全部表单状态
					}
				})
			})
			// 新增生產機台
			var ajax_data = [];
			form.on('submit(add_submit)', function(data) {
				console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
				console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
				console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
				console.log(ajax_data)

				if (!ajax_data.every(function(item, index, array) {
						return item['machine'] != data.field['machine'] && item['mold'] != data.field['mold']
					})) {
					layer.msg('機台模具重複')
				} else {
					ajax_data.push(data.field)
					// console.log($('#amount_input').val())
					// var amount = $('#amount_input').val()
					$("#table").append(
						'<tr><td>' + data.field['machine'] + '</td><td>' + data.field['mold'] +
						'</td><td>' + data.field['amount'] + '</td></tr>')
					return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
				}
			});
			$("#reset").click(function() {
				ajax_data = []
				$("#table").html(' <tr> <th> 機台 </th> <th> 模號 </th> <th> 數量 </th> </tr>')
			})
			// 上傳數據
			form.on('submit(schedule_submit)', function(data) {
				console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
				console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
				console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
				data.field['machine'] = ajax_data
				upload_data = data.field
				console.log(upload_data)

				$.ajax({
					url: '{{url_for('schedule.ajax_upload_schedule')}}',
					type: "POST",
					data: JSON.stringify(upload_data),
					dataType: 'json',
					success: function(res) {
						console.log('上傳成功')
						console.log(res)
						ajax_data = []
						$("#table").html(' <tr> <th> 機台 </th> <th> 模號 </th> <th> 數量 </th> </tr>')
						// 取得排產
						console.log(res['state'])
						if (res['state'] === 0) {
							text = ''
							for (var i = 0; i < res['success'].length; i++) {
								text = text + '<p>' + res['success'][i] + '</p>'
							}
							layer.msg(text)
							get_schedule('POST', upload_data['date'])
						} else {
							text = ''
							for (var i = 0; i < res['error'].length; i++) {
								text = text + '<p>' + res['error'][i] + '</p>'
							}
							layer.msg(text)
						}

					}
				})
				return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
			});
			var get_schedule = function(type, date) {
				$.ajax({
					url: '{{url_for('schedule.ajax_get_schedule')}}',
					type: type,
					data: JSON.stringify({
						"date": date
					}),
					dataType: 'json',
					success: function(res) {
						console.log('獲取排產')
						console.log(res)
						data = res

						table.render({
							elem: '#demo', //指定原始表格元素选择器（推荐id选择器）
							data: data,
							height: 600, //容器高度
							page: true,
							limit: 20,
							toolbar: 'default', //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
							defaultToolbar: [''],
							cols: [
								[{
										type: 'checkbox',
										fixed: 'left'
									},
									{
										field: 'schedule_id',
										title: 'id',
										minWidth: 30,
									},
									{
										field: 'date',
										title: '日期',
										minWidth: 110,
									},
									{
										field: 'machine',
										title: '機台',
										minWidth: 60,
									},
									{
										field: 'mold',
										title: '模具',
										minWidth: 130,
									},
									{
										field: 'product_name',
										title: '機種',
										minWidth: 130,
									},
									{
										field: 'inj_product_name',
										title: '品名',
										minWidth: 130,
									},
									{
										field: 'part_number',
										title: '料號',
										minWidth: 130,
									},
									{
										field: 'amount',
										title: '產能',
										minWidth: 130,
									},
								]
							]
						});
						$("[data-field='schedule_id']").css('display', 'none');
						table.on('toolbar(test)', function(obj) {
							var checkStatus = table.checkStatus(obj.config.id),
								data = checkStatus.data; //获取选中的数据

							switch (obj.event) {
 								case 'add':
// 									layer.msg('添加尚未記錄結存料號');
									break;
								case 'delete':
									layer.msg('delete');
									console.log(data)
									if (data.length === 0) {
										layer.msg('請選擇資料');
									} else {
										console.log(data)
										layer.open({
											title: '確認刪除',
											content: '確認要刪除嗎?',
											btn: ['刪除', '取消'],
											btn1: function(index, layero) {
												$.ajax({
													url: '{{url_for('schedule.ajax_delete_schedule')}}',
													type: "POST",
													data: JSON.stringify(data),
													dataType: 'json',
													success: function(res) {
														console.log(res)
														get_schedule('POST', data[0].date)
													},
												})
												layer.close(index);
												layer.msg('刪除成功');
											},
											btn2: function(index, layero) {

											},
											cancel: function() {
												//右上角关闭回调
											}
										})

									}
							};
						});
					}
				})
			}
			get_schedule('GET')
		</script>

	</body>
</html>
