<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>排產計畫查詢修改</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="static/js/layui/css/layui.css" media="all">
		<!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
		<style>
			
		</style>
	</head>
	<body>
		<div>
			<fieldset class="layui-elem-field layui-field-title">
				<legend style="font-weight:bold">
					<span style="font-size: 1.5rem;">排產計畫查詢修改</span>
				</legend>
			</fieldset>
		</div>
		<div>
			<form class="layui-form" action="" lay-filter='all'>
				<div class="layui-form-item">
					<label class="layui-form-label">紀錄日期</label>
					<div class="layui-input-inline">
						<input type="text" name="date" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
					</div>
					<button type="button" lay-submit lay-filter="schedule_submit" class="layui-btn layui-btn-radius ">
						確認上傳
					</button>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">產品名稱</label>
					<div class="layui-input-inline">
						<select name="product" id="product" lay-verify="required" lay-filter='select_product'>
							<option value="">請選擇</option>
							// js 新增選項
						</select>
					</div>
					<label class="layui-form-label">成型品名稱</label>
					<div class="layui-input-inline">
						<select name="inj_product_name" id="inj_product_name" lay-filter='select_inj_name' lay-verify="required">
							<option value=""></option>
						</select>
					</div>
				</div>
				
			</form>
		</div>
		
		
		<!--  <button type="button" class="layui-btn layui-btn-radius" id="update">確認更新</button>-->
		<div style="padding: 0px 30px;">
			<hr class="layui-bg-green">
			<table id="demo" lay-filter="test" style="margin-left: auto; margin-right: auto"></table>
		</div>


		<script src="static/js/layui/layui.all.js" charset="utf-8"></script>
		<script src="static/js/jquery-3.3.1.min.js" charset="utf-8"></script>
		<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
		<script>
			var table = layui.table;
			var layer = layui.layer;
			var form = layui.form;
			var laydate = layui.laydate;
			var part_nuber
			var schedule_post = {}
			laydate.render({
				elem: '#date',
				done: function(value, date, endDate) {
					console.log(value); //得到日期生成的值，如：2017-08-18
					console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
					console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
					schedule_post['date'] = value
					get_schedule('POST', schedule_post)
				}
			});
			// ajax取得產品列表
			$.ajax({
				url: '{{url_for('schedule.ajax_product_list')}}',
				type: "GET",
				dataType: 'json',
				success: function(res) {
					console.log('獲取產品列表')
					var html = '';
					for (var key in res) {
						html = html + '<optgroup label="' + key + '">'
						for (var i = 0; i < res[key].length; i++) {
							html = html + '<option value="' + res[key][i] + '">' + res[key][i] + '</option>'
						}
						html = html + '</optgroup>'
					}
					$('#product').append(html)
					form.render(null, 'all'); //更新 lay-filter="all" 所在容器内的全部表单状态
				}
			})
			// 監聽產品名稱選單
			form.on('select(select_product)', function(data) {
				console.log(data.elem); //得到select原始DOM对象
				console.log(data.value); //得到被选中的值
				console.log(data.othis); //得到美化后的DOM对象
				schedule_post['product_name'] = data.value
				get_schedule('POST', schedule_post)
				// 發出ajax取得產品Bom
				$.ajax({
					url: '{{url_for('schedule.ajax_bom_list')}}',
					type: "POST",
					data: JSON.stringify({
						'product_name': data.value
					}),
					dataType: 'json',
					success: function(res) {
						console.log('獲取BOM列表')
						console.log(res)
						part_nuber = res
						// 更新成型品名稱選單
						var html = '';
						for (var key in res) {
							html = html + '<option value="' + key + '">' + key + '</option>'
						}
						$("#inj_product_name").html('<option value=""></option>')
						$("#inj_product_name").append(html)
						form.render(null, 'all'); //更新 lay-filter="all" 所在容器内的全部表单状态
					}
				})
			});
			// 監聽成型品名稱選單
			form.on('select(select_inj_name)', function(data) {
				console.log(data.elem); //得到select原始DOM对象
				console.log(data.value); //得到被选中的值
				console.log(data.othis); //得到美化后的DOM对象
				schedule_post['inj_product_name'] = data.value
				get_schedule('POST', schedule_post)
			})

			var get_schedule = function(type, schedule_post) {
				$.ajax({
					url: '{{url_for('schedule.ajax_get_schedule')}}',
					type: type,
					data: JSON.stringify(schedule_post),
					dataType: 'json',
					success: function(res) {
						console.log('獲取排產')
						console.log(res)
						data = res

						table.render({
							elem: '#demo', //指定原始表格元素选择器（推荐id选择器）
							data: data,
							// width: '800',
							height: 800, //容器高度
							page: true,
							limit: 20,
							toolbar: 'default', //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
							defaultToolbar: [''],
							cols: [
								[{
										type: 'checkbox',
										fixed: 'left'
									},
									{
										field: 'schedule_id',
										title: 'id',
										minWidth: 30,
									},
									{
										field: 'date',
										title: '日期',
										minWidth: 110,
										sort: true,
									},
									{
										field: 'machine',
										title: '機台',
										minWidth: 60,
									},
									{
										field: 'mold',
										title: '模具',
										minWidth: 130,
									},
									{
										field: 'product_name',
										title: '機種',
										minWidth: 130,
									},
									{
										field: 'inj_product_name',
										title: '品名',
										minWidth: 130,
									},
									{
										field: 'part_number',
										title: '料號',
										minWidth: 130,
									},
									{
										field: 'amount',
										title: '產能',
										minWidth: 130,
										event: 'amount'
									},
								]
							]
						});
						$("[data-field='schedule_id']").css('display', 'none');
						table.on('toolbar(test)', function(obj) {
							var checkStatus = table.checkStatus(obj.config.id),
								data = checkStatus.data; //获取选中的数据

							switch (obj.event) {
								case 'add':
// 									layer.msg('添加尚未記錄結存料號');
									break;
								case 'delete':
									layer.msg('delete');
									console.log(data)
									if (data.length === 0) {
										layer.msg('請選擇資料');
									} else {
										console.log(data)
										layer.open({
											title: '確認刪除',
											content: '確認要刪除嗎?',
											btn: ['刪除', '取消'],
											btn1: function(index, layero) {
												$.ajax({
													url: '{{url_for('schedule.ajax_delete_schedule')}}',
													type: "POST",
													data: JSON.stringify(data),
													dataType: 'json',
													success: function(res) {
														console.log(res)
														get_schedule('POST', {"date": data['date']})
													},
												})
												layer.close(index);
												layer.msg('刪除成功');
											},
											btn2: function(index, layero) {

											},
											cancel: function() {
												//右上角关闭回调
											}
										})

									}
							};
						});
						table.on('tool(test)', function(obj) {
							console.log(obj)
							var data = obj.data
							var original = data
							var revised = $.extend(true, {}, data)
						
							layer.prompt({
								formType: 2,
								title: '修改資料',
								value: data[obj.event]
							}, function(value, index) {
						
								var upload_data = {
									original,
									revised
								}
								upload_data['revised'][obj.event] = value
								console.log(upload_data)
								$.ajax({
									url: '{{url_for('schedule.ajax_revise_schedule')}}',
									type: "POST",
									data: JSON.stringify(upload_data),
									dataType: 'json',
									success: function(res) {
										console.log(res)
										layer.msg('修改成功')
										obj.update({
											amount: value
										}); //这里一般是发送修改的Ajax请求
									},
								})
								layer.close(index);
							});
						
						
						})
					}
				})
			}
			get_schedule('GET')
		</script>

	</body>
</html>
