<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<title>Schedule</title>
		<link href='static/js/fullcalendar/core/main.css' rel='stylesheet' />
		<link href='static/js/fullcalendar/timeline/main.css' rel='stylesheet' />
		<link href='static/js/fullcalendar/resource-timeline/main.css' rel='stylesheet' />

		<link rel="stylesheet" href="static/js/layui/css/layui.css">

		<script src='static/node_modules/@fullcalendar/core/main.min.js'></script>
		<script src='static/js/fullcalendar/interaction/main.js'></script>
		<script src='static/js/fullcalendar/timeline/main.js'></script>
		<script src='static/js/fullcalendar/resource-common/main.js'></script>
		<script src='static/js/fullcalendar/resource-timeline/main.js'></script>
		<script src="static/node_modules/moment/min/moment.min.js" charset="utf-8"></script>
		<style type="text/css">
			#popup {
				display: none;
			}

			.fc-widget-header {
				background: auto;
			}

			.modal-mask {
				position: fixed;
				z-index: 9998;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, .5);
				display: table;
				transition: opacity .3s ease;
			}

			.modal-wrapper {
				display: table-cell;
				vertical-align: middle;
			}

			.modal-container {
				width: 400px;
				margin: 0px auto;
				padding: 20px 30px;
				background-color: #fff;
				border-radius: 2px;
				box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
				transition: all .3s ease;
				font-family: Helvetica, Arial, sans-serif;
			}

			.modal-header h3 {
				margin-top: 0;
				color: #42b983;
			}

			.modal-body {
				margin: 20px 0;
			}

			.modal-default-button {
				float: right;
			}

			/*			 * The following styles are auto-applied to elements with			 * transition="modal" when their visibility is toggled			 * by Vue.js.			 *			 * You can easily play with the modal transition by editing			 * these styles.			*/
			.modal-enter {
				opacity: 0;
			}

			.modal-leave-active {
				opacity: 0;
			}

			.modal-enter .modal-container,
			.modal-leave-active .modal-container {
				-webkit-transform: scale(1.1);
				transform: scale(1.1);
			}
		</style>

		<style>
			.fc-event{
				margin: 1px;
			}
		</style>
	</head>
	<body>
		<fieldset class="layui-elem-field layui-field-title">
			<legend>
				<span style="font-size: 1.5rem">排產計畫</span>
			</legend>
		</fieldset>
		<div class="layui-row" style="padding: 0px 15px;">
			
			<div style="padding: 0px 15px;">
				<div id='calendar-container'>
					<div id='calendar'></div>
				</div>
			</div>
		</div>
		<div id="popup" class="modal-mask">
			<div class="modal-wrapper">
				<div class="modal-container">

					<div class="modal-body">
						<form action="" class="layui-form" lay-filter="all">
							<div class="layui-form-item">
								<label class="layui-form-label">產品名稱</label>
								<div class="layui-input-inline">
									<select name="product" id="product" lay-verify="required" lay-filter='select_product'>
										<option value="">請選擇</option>
										// js 新增選項
									</select>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">成型品名稱</label>
								<div class="layui-input-inline">
									<select name="inj_product_name" id="inj_product_name" lay-filter='select_inj_name' lay-verify="required">
										<option value=""></option>
									</select>
								</div>
								<div>
									<p id="part_number"></p>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">產能</label>
								<div class="layui-input-inline">
									<input type="text" name="amount" id="amount_input_1" required lay-verify="number" placeholder="數量"
									 autocomplete="off" class="layui-input">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">模具號</label>
								<div class="layui-input-inline">
									<select name="mold" id="mold" lay-verify="required">
										<option value=""></option>

									</select>
								</div>
							</div>

							<button id="submit_button" type="button" lay-submit lay-filter="form_submit">確認</button>
							<button id="pop_close" type="button">取消</button>
						</form>
					</div>
				</div>
			</div>

		</div>
		<script src="static/js/layui/layui.all.js" charset="UTF-8"></script>
		<script src="static/js/jquery-3.3.1.min.js"></script>
		<script src="https://unpkg.com/popper.js@1"></script>
		<!-- <script src="static/js/popper.min.js"></script> -->
		<script src="https://unpkg.com/tippy.js@5"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.3/dist/semantic.min.css">
		<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.3/dist/semantic.min.js"></script>
		<!-- <script src="static/js/tippy-bundle.iife.min.js"></script> -->

		<script>
			var table = layui.table;
			var layer = layui.layer;
			var form = layui.form;

			var bom
			var mold
			$("#pop_close").click(function() {
				console.log('pop_close')
				$("#popup").css('display', 'none')
			})
			$.ajax({
				url: '{{url_for('schedule.ajax_product_list')}}',
				type: "GET",
				dataType: 'json',
				success: function(res) {
					console.log('獲取產品列表')
					var html = '';
					for (var key in res) {
						html = html + '<optgroup label="' + key + '">'
						for (var i = 0; i < res[key].length; i++) {
							html = html + '<option value="' + res[key][i] + '">' + res[key][i] + '</option>'
						}
						html = html + '</optgroup>'
					}
					$('#product').append(html)
					form.render(null, 'all'); //更新 lay-filter="all" 所在容器内的全部表单状态
				}
			})
			// 監聽產品名稱選單
			form.on('select(select_product)', function(data) {
				console.log(data.value); //得到被选中的值
				$("#inj_product_name").html('請選擇')
				$('#mold').html('請選擇')
				form.render(null, 'all'); //更新 lay-filter="all" 所在容器内的全部表单状态
				// 發出ajax取得產品Bom
				$.ajax({
					url: '{{url_for('schedule.ajax_bom_list')}}',
					type: "POST",
					data: JSON.stringify({
						'product_name': data.value
					}),
					dataType: 'json',
					success: function(res) {
						console.log('獲取BOM列表')
						console.log(res)
						bom = res
						// 更新成型品名稱選單
						var html = '';
						for (var key in res) {
							html = html + '<option value="' + key + '">' + key + '</option>'
						}
						$("#inj_product_name").html('<option value=""></option>')
						$("#inj_product_name").append(html)
						form.render(null, 'all'); //更新 lay-filter="all" 所在容器内的全部表单状态
					}
				})
			});
			// 監聽成型品名稱選單
			form.on('select(select_inj_name)', function(data) {
				console.log(data.value); //得到被选中的值
				$('#mold').html('<option value="">請選擇</option>')
				form.render(null, 'all');
				//顯示料號
				$("#part_number").html(bom[data.value])
				// ajax獲取模號
				$.ajax({
					url: '{{url_for('schedule.ajax_mold_list')}}',
					type: "POST",
					data: JSON.stringify({
						'part_number': bom[data.value]
					}),
					dataType: 'json',
					success: function(res) {
						console.log('獲取模具品列表')
						console.log(res)
						mold = res
						var html = '';
						for (var key in res) {
							html = html + '<option value="' + key + '">' + res[key] + '</option>'
						}
						$('#mold').html('<option value="">' + key.substring(0, 8) + '</option>')
						$('#mold').append(html)
						form.render(null, 'all'); //更新 lay-filter="all" 所在容器内的全部表单状态
					}
				})
			})
		</script>
		<script>
			document.oncontextmenu = new Function("return false"); //鎖右鍵
			document.addEventListener('DOMContentLoaded', function() {
				var calendarEl = document.getElementById('calendar');

				var containerEl = document.getElementById('external-events');
				var calendarEl = document.getElementById('calendar');
				var checkbox = document.getElementById('drop-remove');

				
				var calendar_editable = 0
				var calendar_add = 0
				var time
				$.ajax({
					url: '{{url_for('production.ajax_get_time')}}',
					type: "GET",
					dataType: 'json',
					success: function(res) {
						time = res.time
					},
				})
				
				var calendar = new FullCalendar.Calendar(calendarEl, {
					plugins: ['interaction', 'resourceTimeline'],
					// timeZone: 'UTC',
					aspectRatio: 2, // 長寬比
					header: {
						left: 'resourceTimelineDay,Week,resourceTimelineMonth',
						// center: 'title',
						right: 'calendarConfirm, calendarAdd, calendarEdit, prev,next'
					},
					defaultDate: time, //初始日期
					// defaultDate: moment().subtract(2, 'days').format(), //初始日期
					// dateIncrement: {day:1}, // 點擊下一頁往後幾天
					// validRange: {
					// 	start: '2017-05-01',
					// 	end: '2017-06-01'
					// }, 
					customButtons: {
						calendarEdit: {
							text: '編輯',
							click: function(info) {
								console.log(info)
								calendar_editable = calendar_editable ? 0 : 1,
								calendar.setOption('editable', calendar_editable)
								if (calendar_editable) {
									$('.fc-head .fc-resource-area').css('background', '#fbbd08')
									$('.fc-head .fc-time-area').css('background', '#fbbd08')
								} else if (calendar_add){
									$('.fc-head .fc-resource-area').css('background', 'coral')
									$('.fc-head .fc-time-area').css('background', 'coral')
								}else {
									$('.fc-head .fc-resource-area').css('background', 'none')
									$('.fc-head .fc-time-area').css('background', 'none')
								}
							}
						},
						calendarAdd: {
							text: '新增',
							click: function(info) {
								console.log(info)
								calendar_add = calendar_add ? 0 : 1
								if (calendar_add) {
									$('.fc-head .fc-resource-area').css('background', 'coral')
									$('.fc-head .fc-time-area').css('background', 'coral')
								} else if (calendar_editable){
									$('.fc-head .fc-resource-area').css('background', '#fbbd08')
									$('.fc-head .fc-time-area').css('background', '#fbbd08')
								}else {
									$('.fc-head .fc-resource-area').css('background', 'none')
									$('.fc-head .fc-time-area').css('background', 'none')
								}

							}
						},
						calendarConfirm: {
							text: '確認',
							click: function(info) {
								console.log(info)
								calendar_add = 0
								calendar_editable = 0
								calendar.setOption('editable', calendar_editable)
								if (calendar_add || calendar_editable) {
									$('.fc-widget-header').css('background', 'coral')
								} else {
									$('.fc-widget-header').css('background', 'none')
								}
								$(".fc-calendarAdd-button").popup(
									{
										html: '<h4>空白處</h4>點擊新增計畫</br>'
									}
								)
								$(".fc-calendarEdit-button").popup(
									{
										html: '<h4>計畫</h4>點擊修改</br>拖拉複製</br>右鍵刪除'
									}
								)
							}
						}
					},
					defaultView: 'Week',
					views: {
						resourceTimelineDay: {
							slotLabelFormat: [
								// { month: 'long', year: 'numeric' ,weekday: 'short'}, // top level of text
								{
									month: '2-digit',
									day: '2-digit'
								},
								{ hour: 'numeric' } // lower level of text
							]
						},
						Week: {
							titleFormat: {
								year: 'numeric',
								month: '2-digit',
								day: '2-digit'
							},
							titleRangeSeparator: '～', // 09/20/2019～9/26/2019

							type: 'resourceTimeline',
							duration: {
								days: 7
							},
							slotDuration: {
								day: 1
							},
							// slotLabelInterval: {hours: 12},
							slotLabelFormat: [
								// { month: 'long', year: 'numeric' ,weekday: 'short'}, // top level of text
								{
									month: '2-digit',
									day: '2-digit'
								},
								// { hour: '2-digit' } // lower level of text
							]
						},
						resourceTimelineMonth: {
							slotLabelFormat: [
								// { month: 'long', year: 'numeric' ,weekday: 'short'}, // top level of text
								{
									month: '2-digit',
									day: '2-digit'
								},
								// { hour: '2-digit' } // lower level of text
							]
						}
					},

					selectable: 1, // Allows a user to highlight multiple days or timeslots by clicking and dragging.
					// selectMinDistance: 3,
					dateClick: function(info) {},
					select: function(info) {
						console.log('select')
						console.log(info)
						if (!calendar_add) {
							return false
						}
						$('#popup').css('display', 'table')
						form.on('submit(form_submit)', function(data) {
							console.log(data)
							console.log(data.field)
							console.log('resource:', info.resource.id)
							// ajax
							// var data1 = form.val('all')
							// console.log(data1)
							// 連續日期
							console.log('mold:', mold[data.field.mold])
							console.log('part_number:', bom[data.field.inj_product_name])
							var days = moment(info.end).diff(moment(info.start), 'days')
							for (var day = 0; day < days; day++) {

								var date = moment(info.start).add(day, 'days')

								$.ajax({
									url: '{{url_for('schedule.ajax_upload_schedule_test')}}',
									type: "POST",
									data: JSON.stringify({
										inj_product_name: data.field.inj_product_name,
										mold_number: data.field.mold,
										part_number: bom[data.field.inj_product_name],
										produce_order: data.field.produce_order,
										date: date.format('YYYY-MM-DD'),
										amount: data.field.amount,
										resourceId: info.resource.id,
									}),
									dataType: 'json',
									success: function(res) {
										console.log('上傳成功')
										console.log(res)
										if (res.error) {
											layer.msg(res.error[0])
											console.log(res.error[0])
										} else {
											layer.msg(res.success[0])
											console.log(res.success[0])
											var new_event = {
												title: data.field.inj_product_name + '-' + mold[data.field.mold] + '-' + String(data.field.amount),
												start: res.date,
												allDay: true,
												resourceId: info.resource.id,
												id: info.resource.id + '-' + moment(res.date, "YYYY-MM-DD").format('YYMMDD') + '-' + String(res.schedule_id), // A18CXJB12-191001-1
												extendedProps: {
													inj_product_name: data.field.inj_product_name,
													part_number: res.part_number,
													mold: mold[data.field.mold],
													mold_number: data.field.mold,
													date: res.date,
													amount: data.field.amount,
													id: info.resource.id + '-' + moment(res.date, "YYYY-MM-DD").format('YYMMDD') + '-' + String(res.schedule_id),
													resourceId: info.resource.id,
												}
											}
											calendar.addEvent(new_event);
											$('#popup').css('display', 'none')
										}

									}
								})
							}
						})
					},
					editable: 0, // Determines whether the events on the calendar can be modified.

					resourceAreaWidth: "10%",
					resourceLabelText: 'A18',
					resourceColumns: [{
						labelText: '機台',
						field: 'machine_name'
					}],
					resourceGroupField: 'machine_tonnage',
					resources: '{{url_for('schedule.ajax_machine_resource')}}',
					events: '{{url_for('schedule.ajax_schedule_resource')}}',

					eventRender: function(info) {
						// console.log('event render')
						// console.log(event.el.onmousedown)
						// tooltip
						var props = info.event.extendedProps
						var content = '品名： ' + props.inj_product_name + '<br>' +
							'模具： ' + props.mold + '<br>' +
							'產能： ' + props.amount + '<br>' +
							'工令： ' + props.produce_order
						tippy(info.el, {
							content: content,
						});
						// 監聽滑鼠右鍵點擊
						info.el.onmousedown = function() {
							if (!calendar_editable) {
								return
							}
							// console.log(event)
							// console.log(info.event.id)
							if (event.which == 3) {
								console.log('click right button')
								console.log("event right click .....")
								var del_confirm = confirm('刪除計畫？')
								if (del_confirm == true) {

									var del_event = calendar.getEventById(info.event.id)
									console.log(del_event._def)
									$.ajax({
										url: '{{url_for('schedule.ajax_delete_schedule_test')}}',
										type: "POST",
										data: JSON.stringify(del_event._def.extendedProps),
										dataType: 'json',
										success: function(res) {
											console.log(res)
											if (res.error) {
												layer.msg(res.error)
											} else {
												del_event.remove()
												alert("刪除！")
											}

										},
									})

								} else {
									alert("取消！")
								}
							}
						}
					},
					eventResize: function(info) {
						console.log('event resize')
						console.log(info)
						if (!calendar_editable) {
							return
						}
						var getEvent = calendar.getEventById(info.event.id)
						getEvent.remove()
						calendar.addEvent(info.prevEvent);
						info = info.event

						// 連續日期
						console.log(moment(info.end).diff(moment(info.start), 'days'))
						var days = moment(info.end).diff(moment(info.start), 'days')
						for (var day = 0; day < days; day++) {

							var date = moment(info.start).add(day, 'days')

							$.ajax({
								url: '{{url_for('schedule.ajax_upload_schedule_test')}}',
								type: "POST",
								data: JSON.stringify({
									inj_product_name: info.extendedProps.inj_product_name,
									mold_number: info.extendedProps.mold_number,
									part_number: info.extendedProps.part_number, ///!!!!!!!
									produce_order: info.extendedProps.produce_order,
									date: date.format('YYYY-MM-DD'),
									amount: info.extendedProps.amount,
									resourceId: info.extendedProps.resourceId,
								}),
								dataType: 'json',
								success: function(res) {
									console.log('上傳成功')
									console.log(res)
									if (res.error) {
										layer.msg(res.error[0])
										console.log(res.error[0])

									} else {
										layer.msg(res.success[0])
										console.log(res.success[0])
										var new_event = {
											title: info.extendedProps.inj_product_name + '-' + info.extendedProps.mold + '-' + String(info.extendedProps.amount),
											start: res.date,
											allDay: true,
											resourceId: info.extendedProps.resourceId,
											id: info.extendedProps.resourceId + '-' + moment(res.date, "YYYY-MM-DD").format('YYMMDD') + '-' +
												String(res.schedule_id), // A18CXJB12-191001-123
											extendedProps: {
												inj_product_name: info.extendedProps.inj_product_name,
												part_number: info.extendedProps.part_number, ///!!!!!!!
												mold_number: info.extendedProps.mold_number,
												mold: info.extendedProps.mold,
												produce_order: info.extendedProps.produce_order,
												date: res.date,
												id: info.extendedProps.resourceId + '-' + moment(res.date, "YYYY-MM-DD").format('YYMMDD') + '-' +
													String(res.schedule_id),
												amount: info.extendedProps.amount,
												resourceId: info.extendedProps.resourceId,
											}
										}
										calendar.addEvent(new_event);
										$('#popup').css('display', 'none')
									}

								}
							})
						}
					},
					eventDrop: function(info) {
						console.log('event drag')
						console.log(info)
						// 拉走id會有問題
					},
					eventReceive: function(info) {
						console.log('event receive')
						console.log(info)
					},
					eventLeave: function(info) {},
					eventClick: function(info) {
						console.log('event click:', info.event.id)
						console.log(info)
						if (!calendar_editable) {
							// 顯示詳細訊息
							return
						}
						// info.jsEvent.preventDefault(); // don't let the browser navigate

						// if (info.event.url) {
						// 	window.open(info.event.url);
						// }
						var mold = info.event.extendedProps.mold
						var amount = info.event.extendedProps.amount
						var inj_product_name = info.event.extendedProps.inj_product_name
						var mold_modified = prompt('修改模具')
						var amount_modified = prompt('修改產能')
						var getEvent = calendar.getEventById(info.event.id)
						console.log(getEvent._def.extendedProps)

						if (mold_modified || amount_modified) {
							mold = mold_modified ? mold_modified : mold
							amount = amount_modified ? amount_modified : amount
							console.log(mold)
							console.log(amount)
							$.ajax({
								url: '{{url_for('schedule.ajax_revise_schedule_test')}}',
								type: "POST",
								data: JSON.stringify({
									props: getEvent._def.extendedProps,
									mold: mold,
									amount: amount
								}),
								dataType: 'json',
								success: function(resp) {
									console.log('修改成功')
									console.log(resp)
									if (resp.error) {
										layer.msg(resp.error)
									} else {
										getEvent.setProp('title', inj_product_name + '-' + mold + '-' + amount)
										getEvent.setExtendedProp('mold', resp.mold)
										getEvent.setExtendedProp('mold_number', resp.mold_number)
										getEvent.setExtendedProp('amount', amount)
									}

								},
							})

						} else {
							getEvent.setProp('title', inj_product_name + '-' + mold + '-' + amount)
							getEvent.setExtendedProp('mold', mold)
							getEvent.setExtendedProp('amount', amount)
						}
					},
					eventMouseEnter: function(info) {},

					// allDayDefault: true, //不確定放哪
					// 					[{
					// 						title  : '產量：2000',
					// 						allDay : true,
					// 						start  : '2019-09-27',
					// 						resourceId : 'A18CXJA01',
					// 						resourceIds : ['A18CXJA02','A18CXJA03','A18CXJA04']
					// 					}]
					droppable: 0, // this allows things to be dropped onto the calendar from other calendar
					drop: function(info) {
						// is the "remove after drop" checkbox checked?
						if (checkbox.checked) {
							// if so, remove the element from the "Draggable Events" list
							info.draggedEl.parentNode.removeChild(info.draggedEl);
						}
					}
				});


				calendar.render();
				$(".fc-calendarAdd-button").popup(
					{
						html: '<h4>空白處</h4>點擊新增計畫</br>'
					}
				)
				$(".fc-calendarEdit-button").popup(
					{
						html: '<h4>計畫</h4>點擊修改</br>拖拉複製</br>右鍵刪除'
					}
				)
				// setTimeout(function() {
				// 	var event = calendar.getEvents()
				// console.log(calendar.getEventSources())
				// 	console.log(calendar.getEventById('s1'))
				// }, 2000)

			});
		</script>

	</body>
</html>
