<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebSocket Test</title>
    <script type="text/javascript" src="static/js/socket.io.dev.js"></script>
    <script type="text/javascript" src="static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        console.log(window.location)
        $(document).ready(function(){

            var socket = io();

            socket.on('connect', function(msg) {
				console.log(msg)
            });
   //          socket.on('connect_error', (error) => {
   //              console.log(error)
   //          })
			// socket.emit('my_event', 'my_event');
            socket.on('my_event', function(msg) {
                console.log(msg)
            });
   //          socket.on('get_machine_state', function(msg) {
   //              console.log(msg)
   //          });
            // socket.emit('get_machine_state', {data: 'give me more'});
        });
    </script>
</head>
<body>
    <div id="status"></div>
</body>
</html>