<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>生產管理</title>
		<link rel="stylesheet" type="text/css" href="static/css/semantic.min.css">
		<script src="static/js/jquery-3.3.1.min.js"></script>
		<script src="static/js/semantic.min.js"></script>
	</head>
	<body>
		<div class="ui top attached demo menu">
			<a class="item" href="#">
				<img id="hide_btn" src="static/img/menu.svg" width="30" height="30" class="d-inline-block align-top" alt="">
				成型MES管理系统
			</a>
			<a class="item" href="{{url_for('frame.index1')}}">現場管理</a>
			<a class="item" href="#">生產管理</a>
			<a class="item" href="{{url_for('frame.index3')}}">數據管理</a>
			<div class="ui pointing dropdown link item">
				<span class="text">其他功能</span>
				<i class="dropdown icon"></i>
				<div class="menu">
					<a class="item" href="{{url_for('signing.sign_process_manager')}}" target="mainShowPage">簽核管理</a>
					<a class="item" href="{{url_for('frame.protected')}}" target="mainShowPage">權限登入測試</a>
					<a class="item" href="{{url_for('frame.screen_size')}}" target="mainShowPage">裝置螢幕大小測試</a>
				</div>
			</div>
			<div class="right menu">
				<div class="ui pointing dropdown link item">
					{{user}} {{name}}
					<span class="ui red label">0</span>
					
					<i class="dropdown icon"></i>
					<div class="menu">
						<a class="item" href="{{url_for('signing.work_item')}}" target="mainShowPage">工作任務</a>
						<a class="item" href="{{url_for('signing.launch_item')}}" target="mainShowPage">發起任務</a>
						<div class="divider"></div>
						<a class="item" href="{{url_for('auth.user_auth')}}" target="mainShowPage">權限設置</a>
						<a class="item" href="{{url_for('auth.change_password')}}" target="mainShowPage">修改密碼</a>
					</div>
				</div>
				<a class="ui item active" href="{{ url_for('auth.logout')}}">
					登出
				</a>
			</div>
		</div>
		<div class="ui bottom attached segment">
			<div class="ui thin left sidebar visible demo vertical menu inverted labeled " style="">
				<a class="item" href="{{url_for('schedule.schedule_overall')}}" target="mainShowPage">日程總覽</a>
				<div class="ui right pointing dropdown item">
					<span class="text">報表</span>
					<i class="dropdown icon"></i>
					<div class="menu">
						<a class="item" href="{{url_for('schedule.daily_report')}}" target="mainShowPage">生產日報表</a>
						<a class="item" href="{{url_for('production.material_check_query')}}" target="mainShowPage">原料盤點查詢</a>
					</div>
				</div>
				<div class="ui right pointing dropdown item">
					<span class="text">排產</span>
					<i class="dropdown icon"></i>
					<div class="menu">
						<a class="item" href="{{url_for('schedule.import_schedule')}}" target="mainShowPage">
						排產計畫輸入
						</a>
						<a class="item" href="{{url_for('schedule.revise_schedule')}}" target="mainShowPage">
						排產修改
						</a>
						<a class="item" href="{{url_for('schedule.demand_input')}}" target="mainShowPage">
						自動排產(△)
						</a>
					</div>
				</div>
				<div class="ui right pointing dropdown item">
					<span class="text">發料模塊</span>
					<i class="dropdown icon"></i>
					<div class="menu">
						<a class="item" href="{{url_for('schedule.material_dispatch')}}" target="mainShowPage">
							塑料發料
						</a>
						<a class="item" href="{{url_for('schedule.material_dispatch_confirm')}}" target="mainShowPage">
							塑料發料確認
						</a>
						<a class="item" href="{{url_for('schedule.material_check1')}}" target="mainShowPage">
							現場收料
						</a>
					</div>
				</div>
			</div>
			<div class="pusher">
				<!-- <div class="ui basic segment"> -->
				<iframe 
					id="frame"
					src="{{url_for('schedule.schedule_overall')}}" 
					name="mainShowPage" 
					style="width: 100%; min-height: 100%; border: 0; ">
				</iframe>
				<!-- </div> -->
				
			</div>
		</div>
		<script type="text/javascript">
			
			$(function() {
				console.log($(".pusher").css('height'))
				$("#frame").css('height', parseFloat($(".pusher").css('height'))-50)
				// $(".pusher").resize(function(){
				// 	$("#frame").css('height', $(".pusher").css('height'))
				// })
			})
			
			$('.ui.sidebar')
				.sidebar({
					context: $('.bottom.segment'),
					dimPage: false,
					onVisible: function() {
						console.log('visible')
					},
					onHide: function() {
						console.log('hide')
					}
				})
				.sidebar('attach events', '#hide_btn');
			$('.ui.dropdown')
				.dropdown({
					on: 'hover'
				})
		</script>
	</body>
</html>
