<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>成型MES管理系统</title>
		<link rel="stylesheet" type="text/css" href="static/css/semantic.min.css">
		<script src="static/js/jquery-3.3.1.min.js"></script>
		<script src="static/js/semantic.min.js"></script>
	</head>
	<body>
		<div class="ui top attached demo menu">
			<a class="item">
				<img id="hide_btn" src="static/img/menu.svg" width="30" height="30" class="d-inline-block align-top" alt="">
			</a>
			<a class="item" href="#">
				成型MES管理系统
			</a>
			<a class="item" href="/index1">現場管理</a>
			<a class="item" href="#">數據管理</a>
			<div class="right menu">
				<div class="ui pointing dropdown link item">
					{{name}}
					<span class="ui red label">0</span>
					
					<i class="dropdown icon"></i>
					<div class="menu">
						<a class="item" href="" target="mainShowPage">簽核任務</a>
						<!-- <a class="item" href="" target="mainShowPage">發起任務</a> -->
						<div class="divider"></div>
						<a class="item" href="/route_auth" target="mainShowPage">功能權限設置</a>
						<a class="item" href="/user_auth" target="mainShowPage">人員權限設置</a>
					</div>
				</div>
				<a class="ui item active" href="{{ url_for('auth.logout')}}">
					登出
				</a>
			</div>
		</div>
		<div class="ui bottom attached segment">
			<div class="ui thin left sidebar visible demo vertical menu inverted labeled " style="">
				<a class="item" href="/upload_data" target="mainShowPage">數據庫資料導入</a>
				<a class="item" href="/product_revise" target="mainShowPage">產品維護</a>
				<a class="item" href="/bom_revise" target="mainShowPage">BOM表維護</a>
				<a class="item" href="/material_revise" target="mainShowPage">材料維護</a>
				<a class="item" href="/mold_revise" target="mainShowPage">模具維護</a>
				<a class="item" href="/machine_revise" target="mainShowPage">機台維護</a>
				<a class="item" href="/bad_revise" target="mainShowPage">不良項目維護</a>
				<a class="item" href="/anomaly_revise" target="mainShowPage">異常項目維護</a>
			</div>
			<div class="pusher">
				<!-- <div class="ui basic segment"> -->
				<iframe 
					id="frame"
					src="/upload_data" 
					name="mainShowPage" 
					style="width: 100%; min-height: 100%; border: 0; ">
				</iframe>
				<!-- </div> -->
				
			</div>
		</div>
		<script type="text/javascript">
			
			$(function() {
				console.log($(".pusher").css('height'))
				$("#frame").css('height', parseFloat($(".pusher").css('height'))-50)
				// $(".pusher").resize(function(){
				// 	$("#frame").css('height', $(".pusher").css('height'))
				// })
			})
			
			$('.ui.sidebar')
				.sidebar({
					context: $('.bottom.segment'),
					onVisible: function() {
						console.log('visible')
					},
					onHide: function() {
						console.log('hide')
					}
				})
				.sidebar('attach events', '#hide_btn');
			$('.ui.dropdown')
				.dropdown({
					on: 'hover'
				})
		</script>
	</body>
</html>
