<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.3/dist/semantic.min.css">
		<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.3/dist/semantic.min.js"></script>
		<title>Intro</title>
	</head>
	<body>
		<div>
			<img style="width: 50px; margin: 0 0 0 30px;" src="../../../static/img/click.svg">
		</div>
		<!DOCTYPE html>
		<html>
			<head>
				<meta charset="utf-8">
				<title>Intro</title>
				<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
				<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.3/dist/semantic.min.css">
				<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.3/dist/semantic.min.js"></script>
				<style type="text/css">
					.center {
						text-align: center;
					}

					.tools {
						padding: 20px 0px;
					}
				</style>
			</head>
			<body>
				<div class="ui column centered grid">
					<div class="column row">
						<h1>Wellcome!</h1>
					</div>
					<div class="row">
						<div class="column eight wide" style="">
							<p>歡迎光臨簡易版的管理系系統，此系統主要展示三大功能：</p>
							<div class="ui bulleted list">
								<div class="item">工廠總攬</div>
								<div class="item">生產計畫</div>
								<div class="item">現場報表</div>
							</div>
							<hr />
							
							<h3 class="ui header">工廠總覽</h3>
							<p>即時檢視所有機台狀況，生產、警報、待機、離線與產能。</p>
							<p>點擊機台可以顯示機台詳細訊息，與當日的排產數量與達成率。</p>
							<hr />
							
							<h3 class="ui header">生產計畫</h3>
							<p>可視化的日曆圖表，一目瞭然地檢視所有機台生產排配情形，圖表使用fullcalendar.js premiun功能。</p>
							<p>可在圖表上快速編輯、複製、刪除排產計畫，同時<strong>發料模塊</strong>根據Bom表，計算出需求原料數量。</p>
							<hr />
							
							<h3 class="ui header">現場表單</h3>
							<p>客製化的工廠表單，紀錄產品品質、不良等，提供現場操作人員使用，在<strong>紀錄查詢</strong>裡可即時產生生產報表。</p>
							<p>現場表單與生產計畫連結，讀取當日的排產料號、機台、模具等資訊，減少操作人員輸入流程。</p>
							<hr />
							<div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"
								 title="Flaticon">www.flaticon.com</a></div>

						</div>
					</div>
				</div>
				<script type="text/javascript">
					$(".active").popup({
						title: 'My favorite dog',
						content: 'My favorite dog would like other dogs as much as themselves'
					})
				</script>
			</body>
		</html>



	</body>
</html>
