<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
	<script src="static/js/jquery-3.3.1.min.js"></script>
	<link href="static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="d-flex justify-content-center align-self-center">
		<div class="col-lg-5 col-md-5">
			<div class="d-flex justify-content-center">
				<h1>修改密碼</h1>
			</div>
			<hr>
			{% if error%}
			<p>{{error}}</p>
			{% endif %}
			<form method="POST">
				<div class="form-group row">
					<label for="ID" class="col-sm-3 col-form-label">工號</label>
					<input id="ID" type="text" name="ID" class="col-sm-9 form-control"><br>
				</div>
				<div class="form-group row">
					<label for="pwd" class="col-sm-3 col-form-label">密碼</label>
					<input id="pwd" type="password" name="pwd" class="col-sm-9 form-control">
				</div>
				<div class="form-group row">
					<label for="pwd_confirm" class="col-sm-3 col-form-label">密碼確認</label>
					<input id="pwd_confirm" type="password" name="pwd_confirm" class="col-sm-9 form-control">
				</div>
				<div class="d-flex justify-content-end">
					<input type="submit" value="submit" class="btn">
				</div>
			   
			</form>
		</div>
	</div>
</body>
</html>